In [1]:
# Checking Jenfi Root directory
from jenfi_pipeline_data_app import PipelineDataApp as Jenfi

Jenfi.ROOT_DIR

Welcome to the Jenfi Data App! v0.3.14
https://jenfi-eng.github.io/pipeline-data-app
------------------------------------------------------------------------------------

!!REQUIRED!! variables in `parameters` tagged cell.

logical_step_name        - ex:   logical_step_name = 'sg_first_payment_default'
state_machine_run_id     - ex:   state_machine_run_id = 5
------------------------------------------------------------------------------------

'/Users/thanhnguyen/Documents/working/jenfi/pipeline-data-app/notebooks'

In [2]:
# Parameters (Not used in production)
credit_application_id = 16894
input_decisioning_date = '26/04/2023' #DD/MM/YYYY
# input_decisioning_date = None

logical_step_name = 'vn_two_mob_fifteen_plus'
state_machine_run_id = 21587

In [3]:
query_str = f"""SELECT * from company_credit_applications a
left join companies b
on a.company_id = b.id
where a.id = {credit_application_id}
"""

company_plus_application_data = Jenfi.df_query(query_str)
if company_plus_application_data['deal_attribution_country_alpha2'][0] != 'VN':
    Jenfi.exit_not_applicable(message='Not an VN deal/company.')

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
# importing date class from datetime module
from datetime import datetime

decisioning_date = datetime.today()

if input_decisioning_date is not None:
    format_time = '%d/%m/%Y'
    decisioning_date = datetime.strptime(input_decisioning_date, format_time)

decisioning_year = decisioning_date.year
decisioning_month = decisioning_date.month

In [6]:
from datetime import date

first_day_of_month = date(decisioning_year, decisioning_month, 1)

In [7]:
import numpy as np
lookback_year_1 = np.where(decisioning_month >= 7, decisioning_year, np.where(((np.mod(decisioning_month + 11,12) > 6) | (np.mod(decisioning_month + 11,12) == 0)), decisioning_year - 1, decisioning_year))
lookback_month_1 = np.where(decisioning_month >= 7, decisioning_month - 1, np.where(((np.mod(decisioning_month + 11,12) > 6) | (np.mod(decisioning_month + 11,12) == 0)), decisioning_month + 11, decisioning_month - 1)) 
lookback_year_2 = np.where(decisioning_month >= 7, decisioning_year, np.where(((np.mod(decisioning_month + 10,12) > 6) | (np.mod(decisioning_month + 10,12) == 0)), decisioning_year - 1, decisioning_year))
lookback_month_2 = np.where(decisioning_month >= 7, decisioning_month - 2, np.where(((np.mod(decisioning_month + 10,12) > 6) | (np.mod(decisioning_month + 10,12) == 0)), decisioning_month + 10, decisioning_month - 2))
lookback_year_3 = np.where(decisioning_month >= 7, decisioning_year, np.where(((np.mod(decisioning_month + 9,12) > 6) | (np.mod(decisioning_month + 9,12) == 0)), decisioning_year - 1, decisioning_year)) 
lookback_month_3 = np.where(decisioning_month >= 7, decisioning_month - 3, np.where(((np.mod(decisioning_month + 9,12) > 6) | (np.mod(decisioning_month + 9,12) == 0)), decisioning_month + 9, decisioning_month - 3))
lookback_year_4 = np.where(decisioning_month >= 7, decisioning_year, np.where(((np.mod(decisioning_month + 8,12) > 6) | (np.mod(decisioning_month + 8,12) == 0)), decisioning_year - 1, decisioning_year)) 
lookback_month_4 = np.where(decisioning_month >= 7, decisioning_month - 4, np.where(((np.mod(decisioning_month + 8,12) > 6) | (np.mod(decisioning_month + 8,12) == 0)), decisioning_month + 8, decisioning_month - 4))
lookback_year_5 = np.where(decisioning_month >= 7, decisioning_year, np.where(((np.mod(decisioning_month + 7,12) > 6) | (np.mod(decisioning_month + 7,12) == 0)), decisioning_year - 1, decisioning_year)) 
lookback_month_5 = np.where(decisioning_month >= 7, decisioning_month - 5, np.where(((np.mod(decisioning_month + 7,12) > 6) | (np.mod(decisioning_month + 7,12) == 0)), decisioning_month + 7, decisioning_month - 5))
lookback_year_6 = np.where(decisioning_month >= 7, decisioning_year, np.where(((np.mod(decisioning_month + 6,12) > 6) | (np.mod(decisioning_month + 6,12) == 0)), decisioning_year - 1, decisioning_year)) 
lookback_month_6 = np.where(decisioning_month >= 7, decisioning_month - 6, np.where(((np.mod(decisioning_month + 6,12) > 6) | (np.mod(decisioning_month + 6,12) == 0)), decisioning_month + 6, decisioning_month - 6))

In [8]:
lookback_year_1 = int(lookback_year_1)
lookback_month_1 = int(lookback_month_1)
lookback_year_2 = int(lookback_year_2)
lookback_month_2 = int(lookback_month_2)
lookback_year_3 = int(lookback_year_3)
lookback_month_3 = int(lookback_month_3)
lookback_year_4 = int(lookback_year_4)
lookback_month_4 = int(lookback_month_4)
lookback_year_5 = int(lookback_year_5)
lookback_month_5 = int(lookback_month_5)
lookback_year_6 = int(lookback_year_6)
lookback_month_6 = int(lookback_month_6)

In [9]:
account_info = f'''select * from underwriting_bank_accounts where company_id in (select company_id from company_credit_applications where id = {credit_application_id})'''

account_data = Jenfi.df_query(account_info)
account_data

,id,company_id,bank_name,account_name,account_id,created_at,updated_at,data_source,used_in_underwriting,manual_currency,currency,display_bank_name,account_type,account_status,opened_date,closed_date
0,16797,16315,VietcomBank,BUI VAN HIEU,1040666666,2023-03-27 13:02:28.087802,2023-04-19 02:58:54.679641,Preprocessing,True,,VND,,individual,active,None,None
1,16792,16315,VietcomBank,Vu Van Thanh,0081001288095,2023-03-27 04:15:20.995834,2023-03-27 04:16:29.571304,Preprocessing,True,,VND,,individual,active,None,None
2,16793,16315,VietcomBank,Vu Van Thanh,1040999999,2023-03-27 04:16:14.163617,2023-03-27 04:16:23.523632,Preprocessing,True,,VND,,individual,active,None,None
3,16791,16315,VietNam Technological and Commercial Joint Sto...,CT TNHH TM & DV GIAI TRI TAN TRUONG,19036001272018,2023-03-27 04:07:13.073169,2023-03-27 04:07:17.987376,Documents,True,None,VND,None,corporate,active,None,None

In [10]:
corporate_account_data = account_data[account_data['account_type'] == 'corporate']
corporate_account_data = corporate_account_data.reset_index(drop = True)
corporate_account_data

,id,company_id,bank_name,account_name,account_id,created_at,updated_at,data_source,used_in_underwriting,manual_currency,currency,display_bank_name,account_type,account_status,opened_date,closed_date
0,16791,16315,VietNam Technological and Commercial Joint Sto...,CT TNHH TM & DV GIAI TRI TAN TRUONG,19036001272018,2023-03-27 04:07:13.073169,2023-03-27 04:07:17.987376,Documents,True,None,VND,None,corporate,active,None,None

In [11]:
import pandas as pd
check_application_data = pd.DataFrame()
check_application_data = account_data[['id','account_type']]
check_application_data['company_credit_application_id'] = credit_application_id
check_application_data['lookback_year_1'] = lookback_year_1
check_application_data['lookback_month_1'] = lookback_month_1
check_application_data['lookback_year_2'] = lookback_year_2
check_application_data['lookback_month_2'] = lookback_month_2
check_application_data['lookback_year_3'] = lookback_year_3
check_application_data['lookback_month_3'] = lookback_month_3
check_application_data['lookback_year_4'] = lookback_year_4
check_application_data['lookback_month_4'] = lookback_month_4
check_application_data['lookback_year_5'] = lookback_year_5
check_application_data['lookback_month_5'] = lookback_month_5
check_application_data['lookback_year_6'] = lookback_year_6
check_application_data['lookback_month_6'] = lookback_month_6
check_application_data

,id,account_type,company_credit_application_id,lookback_year_1,lookback_month_1,lookback_year_2,lookback_month_2,lookback_year_3,lookback_month_3,lookback_year_4,lookback_month_4,lookback_year_5,lookback_month_5,lookback_year_6,lookback_month_6
0,16797,individual,16894,2023,3,2023,2,2023,1,2022,12,2022,11,2022,10
1,16792,individual,16894,2023,3,2023,2,2023,1,2022,12,2022,11,2022,10
2,16793,individual,16894,2023,3,2023,2,2023,1,2022,12,2022,11,2022,10
3,16791,corporate,16894,2023,3,2023,2,2023,1,2022,12,2022,11,2022,10

In [12]:
def query_bank_data(check_application_data, i):
    transaction_data_query = f'''select *, fx_amount(convert_cents(operating_currency_balance_cents, operating_currency), operating_currency, 'USD', transaction_date) as USD_currency_balance,
    fx_amount(convert_cents(operating_currency_withdraw_cents, operating_currency), operating_currency, 'USD',transaction_date) as USD_currency_withdraw,
    fx_amount(convert_cents(operating_currency_deposit_cents, operating_currency), operating_currency, 'USD', transaction_date) as USD_currency_deposit,
    convert_cents(operating_currency_balance_cents, operating_currency) as operating_currency_balance,
    convert_cents(operating_currency_withdraw_cents, operating_currency) as operating_currency_withdraw,
    convert_cents(operating_currency_deposit_cents, operating_currency) as operating_currency_deposit,
    case when operating_currency_withdraw_cents > 0 then 1 else 0 end as debit_count,
    case when operating_currency_deposit_cents > 0 then 1 else 0 end as credit_count, {int(check_application_data['company_credit_application_id'][i])} as application_id
    from underwriting_bank_transactions
    where underwriting_bank_account_id = {int(check_application_data['id'][i])}
    and ((extract(year from transaction_date) = {check_application_data['lookback_year_1'][i]}
    and extract(month from transaction_date) = {check_application_data['lookback_month_1'][i]})
    or (extract(year from transaction_date) = {check_application_data['lookback_year_2'][i]}
    and extract(month from transaction_date) = {check_application_data['lookback_month_2'][i]})
    or (extract(year from transaction_date) = {check_application_data['lookback_year_3'][i]}
    and extract(month from transaction_date) = {check_application_data['lookback_month_3'][i]})
    or (extract(year from transaction_date) = {check_application_data['lookback_year_4'][i]}
    and extract(month from transaction_date) = {check_application_data['lookback_month_4'][i]})
    or (extract(year from transaction_date) = {check_application_data['lookback_year_5'][i]}
    and extract(month from transaction_date) = {check_application_data['lookback_month_5'][i]})
    or (extract(year from transaction_date) = {check_application_data['lookback_year_6'][i]}
    and extract(month from transaction_date) = {check_application_data['lookback_month_6'][i]}))
    '''
    return Jenfi.df_query(transaction_data_query, rebuild_cache=True)

In [13]:
df = pd.DataFrame()
# for i in range(len(check_application_data)):
for i in range(len(check_application_data)):    
    import time
    start_at = time.perf_counter()
    transaction_data = query_bank_data(check_application_data, i)
    df = df.append(transaction_data)
    end_at = time.perf_counter()

    print(f"Query {i} took: {end_at - start_at}s.")

Query 0 took: 1.668606874998659s.
Query 1 took: 1.71577570901718s.
Query 2 took: 1.1684744158992544s.
Query 3 took: 1.2726102500455454s.

In [14]:
df

,id,underwriting_bank_account_id,transaction_date,transaction_details,withdraw_cents,deposit_cents,balance_cents,created_at,updated_at,document_position,...,group_month_helper,usd_currency_balance,usd_currency_withdraw,usd_currency_deposit,operating_currency_balance,operating_currency_withdraw,operating_currency_deposit,debit_count,credit_count,application_id
0,18621982,16797,2023-03-27,691016.270323.111235.c h ck hieu,0,499999999,583419794,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.868568,None,...,2023/03/31,24801.16,0.00,21254.99,5.834198e+08,0.0,499999999.0,0,1,16894
1,18621983,16797,2023-03-27,691378.270323.111244.c h ck hieu,0,499999999,1083419793,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.879269,None,...,2023/03/31,46056.15,0.00,21254.99,1.083420e+09,0.0,499999999.0,0,1,16894
2,18621984,16797,2023-03-27,691734.270323.111253.c h ck hieu,0,499999999,1583419792,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.891981,None,...,2023/03/31,67311.14,0.00,21254.99,1.583420e+09,0.0,499999999.0,0,1,16894
3,18621985,16797,2023-03-27,692061.270323.111301.c h ck hieu,0,499999999,2083419791,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.903843,None,...,2023/03/31,88566.13,0.00,21254.99,2.083420e+09,0.0,499999999.0,0,1,16894
4,18621986,16797,2023-03-27,692403.270323.111310.c h ck hieu,0,499999999,2583419790,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.916189,None,...,2023/03/31,109821.12,0.00,21254.99,2.583420e+09,0.0,499999999.0,0,1,16894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,18225595,16791,2023-03-06,DO LAN HUONG NOP TIEN VAO TAI KHOAN CONG TY SO...,0,6000000,39223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.926655,None,...,2023/03/31,1653.28,0.00,252.90,3.922378e+07,0.0,6000000.0,0,1,16894
42,18225596,16791,2023-03-06,Cty Tan Truong Giang ma don vi TA2287A dong BH...,37683250,0,1540532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.937275,None,...,2023/03/31,64.93,1588.35,0.00,1.540532e+06,37683250.0,0.0,1,0,16894
43,18225597,16791,2023-03-16,(B/O CONG TY TNHH DAI DUONG VIET) CT TNHH DAI ...,0,34650000,36190532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.949283,None,...,2023/03/31,1535.02,0.00,1469.68,3.619053e+07,0.0,34650000.0,0,1,16894
44,18225561,16791,2022-10-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,59125614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.393108,None,...,2022/10/31,2475.29,0.00,296.82,5.912561e+07,0.0,7090000.0,0,1,16894
45,18225562,16791,2022-10-17,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,18400000,77525614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.403705,None,...,2022/10/31,3211.94,0.00,762.33,7.752561e+07,0.0,18400000.0,0,1,16894

In [15]:
basic_data = df.copy()
basic_data = basic_data.reset_index(drop = True)
basic_data

,id,underwriting_bank_account_id,transaction_date,transaction_details,withdraw_cents,deposit_cents,balance_cents,created_at,updated_at,document_position,...,group_month_helper,usd_currency_balance,usd_currency_withdraw,usd_currency_deposit,operating_currency_balance,operating_currency_withdraw,operating_currency_deposit,debit_count,credit_count,application_id
0,18621982,16797,2023-03-27,691016.270323.111235.c h ck hieu,0,499999999,583419794,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.868568,None,...,2023/03/31,24801.16,0.00,21254.99,5.834198e+08,0.0,499999999.0,0,1,16894
1,18621983,16797,2023-03-27,691378.270323.111244.c h ck hieu,0,499999999,1083419793,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.879269,None,...,2023/03/31,46056.15,0.00,21254.99,1.083420e+09,0.0,499999999.0,0,1,16894
2,18621984,16797,2023-03-27,691734.270323.111253.c h ck hieu,0,499999999,1583419792,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.891981,None,...,2023/03/31,67311.14,0.00,21254.99,1.583420e+09,0.0,499999999.0,0,1,16894
3,18621985,16797,2023-03-27,692061.270323.111301.c h ck hieu,0,499999999,2083419791,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.903843,None,...,2023/03/31,88566.13,0.00,21254.99,2.083420e+09,0.0,499999999.0,0,1,16894
4,18621986,16797,2023-03-27,692403.270323.111310.c h ck hieu,0,499999999,2583419790,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.916189,None,...,2023/03/31,109821.12,0.00,21254.99,2.583420e+09,0.0,499999999.0,0,1,16894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,18225595,16791,2023-03-06,DO LAN HUONG NOP TIEN VAO TAI KHOAN CONG TY SO...,0,6000000,39223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.926655,None,...,2023/03/31,1653.28,0.00,252.90,3.922378e+07,0.0,6000000.0,0,1,16894
836,18225596,16791,2023-03-06,Cty Tan Truong Giang ma don vi TA2287A dong BH...,37683250,0,1540532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.937275,None,...,2023/03/31,64.93,1588.35,0.00,1.540532e+06,37683250.0,0.0,1,0,16894
837,18225597,16791,2023-03-16,(B/O CONG TY TNHH DAI DUONG VIET) CT TNHH DAI ...,0,34650000,36190532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.949283,None,...,2023/03/31,1535.02,0.00,1469.68,3.619053e+07,0.0,34650000.0,0,1,16894
838,18225561,16791,2022-10-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,59125614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.393108,None,...,2022/10/31,2475.29,0.00,296.82,5.912561e+07,0.0,7090000.0,0,1,16894
839,18225562,16791,2022-10-17,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,18400000,77525614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.403705,None,...,2022/10/31,3211.94,0.00,762.33,7.752561e+07,0.0,18400000.0,0,1,16894

In [16]:
basic_data["day_level_transaction_rank"] = basic_data.groupby(['application_id','underwriting_bank_account_id','transaction_date'])['id'].rank(ascending=0,method='dense')

In [17]:
basic_data['Transaction Date datetime'] = pd.to_datetime(basic_data['transaction_date'])

In [18]:
basic_data['Transaction Year'] = basic_data['Transaction Date datetime'].dt.year
basic_data['Transaction Month'] = basic_data['Transaction Date datetime'].dt.month
basic_data['Transaction Day'] = basic_data['Transaction Date datetime'].dt.day

In [19]:
basic_data['Month End Flag'] = np.where(basic_data['Transaction Date datetime'].dt.is_month_end, 1, 0)

In [20]:
basic_data['Transaction Day Eff'] = np.where(basic_data['Transaction Day'].isin([1,5,10,15,20,25]), basic_data['Transaction Day'],np.where(basic_data['Month End Flag'] == 1, 99, 0))

In [21]:
basic_data['Week'] = np.where(basic_data['Transaction Day'] <= 7, 1,
                                np.where(basic_data['Transaction Day'] <= 14, 2,
                                        np.where(basic_data['Transaction Day'] <= 21, 3, 4)))

In [22]:
basic_data['Lag month'] = np.where(basic_data['Transaction Month'] == lookback_month_1, 1,
                                      np.where(basic_data['Transaction Month'] == lookback_month_2, 2,
                                              np.where(basic_data['Transaction Month'] == lookback_month_3, 3,
                                                      np.where(basic_data['Transaction Month'] == lookback_month_4, 4,
                                                              np.where(basic_data['Transaction Month'] == lookback_month_5, 5,6)))))

In [23]:
basic_data

,id,underwriting_bank_account_id,transaction_date,transaction_details,withdraw_cents,deposit_cents,balance_cents,created_at,updated_at,document_position,...,application_id,day_level_transaction_rank,Transaction Date datetime,Transaction Year,Transaction Month,Transaction Day,Month End Flag,Transaction Day Eff,Week,Lag month
0,18621982,16797,2023-03-27,691016.270323.111235.c h ck hieu,0,499999999,583419794,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.868568,None,...,16894,34.0,2023-03-27,2023,3,27,0,0,4,1
1,18621983,16797,2023-03-27,691378.270323.111244.c h ck hieu,0,499999999,1083419793,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.879269,None,...,16894,33.0,2023-03-27,2023,3,27,0,0,4,1
2,18621984,16797,2023-03-27,691734.270323.111253.c h ck hieu,0,499999999,1583419792,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.891981,None,...,16894,32.0,2023-03-27,2023,3,27,0,0,4,1
3,18621985,16797,2023-03-27,692061.270323.111301.c h ck hieu,0,499999999,2083419791,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.903843,None,...,16894,31.0,2023-03-27,2023,3,27,0,0,4,1
4,18621986,16797,2023-03-27,692403.270323.111310.c h ck hieu,0,499999999,2583419790,2023-04-24 08:00:48.679613,2023-04-24 08:12:05.916189,None,...,16894,30.0,2023-03-27,2023,3,27,0,0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,18225595,16791,2023-03-06,DO LAN HUONG NOP TIEN VAO TAI KHOAN CONG TY SO...,0,6000000,39223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.926655,None,...,16894,2.0,2023-03-06,2023,3,6,0,0,1,1
836,18225596,16791,2023-03-06,Cty Tan Truong Giang ma don vi TA2287A dong BH...,37683250,0,1540532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.937275,None,...,16894,1.0,2023-03-06,2023,3,6,0,0,1,1
837,18225597,16791,2023-03-16,(B/O CONG TY TNHH DAI DUONG VIET) CT TNHH DAI ...,0,34650000,36190532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.949283,None,...,16894,1.0,2023-03-16,2023,3,16,0,0,3,1
838,18225561,16791,2022-10-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,59125614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.393108,None,...,16894,1.0,2022-10-10,2022,10,10,0,10,2,6
839,18225562,16791,2022-10-17,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,18400000,77525614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.403705,None,...,16894,1.0,2022-10-17,2022,10,17,0,0,3,6

In [24]:
basic_data_account_level_closing_balance_subset = basic_data[basic_data['day_level_transaction_rank'] == 1]
basic_data_account_level_closing_balance_subset

,id,underwriting_bank_account_id,transaction_date,transaction_details,withdraw_cents,deposit_cents,balance_cents,created_at,updated_at,document_position,...,application_id,day_level_transaction_rank,Transaction Date datetime,Transaction Year,Transaction Month,Transaction Day,Month End Flag,Transaction Day Eff,Week,Lag month
30,18622015,16797,2023-03-27,MBVCB.3287582007.081197.BUI VAN HIEU chuyen ti...,300000,0,4866060,2023-04-24 08:00:48.679613,2023-04-24 08:12:06.319588,None,...,16894,1.0,2023-03-27,2023,3,27,0,0,4,1
31,18622016,16797,2023-03-30,550180.300323.092327.Tra gop bega,0,11500000,16366060,2023-04-24 08:00:48.679613,2023-04-24 08:12:06.330718,None,...,16894,1.0,2023-03-30,2023,3,30,0,0,4,1
33,18622018,16797,2023-03-31,MBVCB.3304796200.053799.BUI VAN HIEU chuyen ti...,279000,0,4587060,2023-04-24 08:00:48.679613,2023-04-24 08:12:06.352802,None,...,16894,1.0,2023-03-31,2023,3,31,1,99,4,1
39,18235032,16797,2022-10-31,MB.5051-91249-20221031-154349-06800 20221031.V...,356500,0,95842882,2023-03-28 05:40:22.864323,2023-03-28 06:11:39.991662,None,...,16894,1.0,2022-10-31,2022,10,31,1,99,4,6
41,18234975,16797,2022-10-01,MBVCB.2514740277.046247.BUI VAN HIEU chuyen ti...,3790000,0,45108116,2023-03-28 05:40:22.864323,2023-03-28 06:11:39.658005,None,...,16894,1.0,2022-10-01,2022,10,1,0,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,18225594,16791,2023-03-01,Cty CP TM 125 TT tien hang HD 15,0,18810000,33223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.890087,None,...,16894,1.0,2023-03-01,2023,3,1,0,1,1,1
836,18225596,16791,2023-03-06,Cty Tan Truong Giang ma don vi TA2287A dong BH...,37683250,0,1540532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.937275,None,...,16894,1.0,2023-03-06,2023,3,6,0,0,1,1
837,18225597,16791,2023-03-16,(B/O CONG TY TNHH DAI DUONG VIET) CT TNHH DAI ...,0,34650000,36190532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.949283,None,...,16894,1.0,2023-03-16,2023,3,16,0,0,3,1
838,18225561,16791,2022-10-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,59125614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.393108,None,...,16894,1.0,2022-10-10,2022,10,10,0,10,2,6
839,18225562,16791,2022-10-17,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,18400000,77525614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.403705,None,...,16894,1.0,2022-10-17,2022,10,17,0,0,3,6

In [25]:
df_day_level_closing_balance = basic_data_account_level_closing_balance_subset.groupby(['application_id', 'transaction_date'])['operating_currency_balance'].sum()
df_day_level_closing_balance = df_day_level_closing_balance.reset_index()
df_day_level_closing_balance

     application_id transaction_date  operating_currency_balance
0             16894       2022-10-01                 108116199.0
1             16894       2022-10-02                 103670469.0
2             16894       2022-10-03                 141674199.0
3             16894       2022-10-04                 192618585.0
4             16894       2022-10-05                 197708585.0
..              ...              ...                         ...
148           16894       2023-03-24                   3593709.0
149           16894       2023-03-25                   8459096.0
150           16894       2023-03-27                   4866060.0
151           16894       2023-03-30                  64570361.0
152           16894       2023-03-31                   7035866.0

[153 rows x 3 columns]

In [26]:
h = {'operating_currency' : 'max', 'operating_currency_withdraw' : 'sum', 'operating_currency_deposit' : 'sum', 'debit_count' : 'sum', 'credit_count' : 'sum', 'Transaction Year' : 'max', 'Transaction Month' : 'max', 'Transaction Day' : 'max', 'Month End Flag' : 'max', 'Transaction Day Eff' : 'max', 'Week' : 'max', 'Lag month' : 'max'}
basic_data_day_level = basic_data.groupby(['application_id', 'transaction_date']).agg(h)
basic_data_day_level = basic_data_day_level.reset_index()
basic_data_day_level

,application_id,transaction_date,operating_currency,operating_currency_withdraw,operating_currency_deposit,debit_count,credit_count,Transaction Year,Transaction Month,Transaction Day,Month End Flag,Transaction Day Eff,Week,Lag month
0,16894,2022-10-01,VND,7.730000e+06,1.824740e+07,2,5,2022,10,1,0,1,1,6
1,16894,2022-10-02,VND,0.000000e+00,4.165300e+07,0,7,2022,10,2,0,0,1,6
2,16894,2022-10-03,VND,2.481500e+07,1.672000e+07,3,2,2022,10,3,0,0,1,6
3,16894,2022-10-04,VND,0.000000e+00,5.188000e+07,0,9,2022,10,4,0,0,1,6
4,16894,2022-10-05,VND,5.000000e+06,1.009000e+07,1,5,2022,10,5,0,5,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,16894,2023-03-24,VND,1.000000e+07,0.000000e+00,1,0,2023,3,24,0,0,4,1
149,16894,2023-03-25,VND,1.740500e+05,4.370000e+02,1,2,2023,3,25,0,25,4,1
150,16894,2023-03-27,VND,8.078554e+09,8.080000e+09,18,17,2023,3,27,0,0,4,1
151,16894,2023-03-30,VND,0.000000e+00,5.466500e+07,0,2,2023,3,30,0,0,4,1
152,16894,2023-03-31,VND,2.328290e+08,1.391040e+08,4,3,2023,3,31,1,99,4,1

In [27]:
df_date_level_combined_data = basic_data_day_level.merge(df_day_level_closing_balance, on = ['application_id', 'transaction_date'], how = 'left')
df_date_level_combined_data

,application_id,transaction_date,operating_currency,operating_currency_withdraw,operating_currency_deposit,debit_count,credit_count,Transaction Year,Transaction Month,Transaction Day,Month End Flag,Transaction Day Eff,Week,Lag month,operating_currency_balance
0,16894,2022-10-01,VND,7.730000e+06,1.824740e+07,2,5,2022,10,1,0,1,1,6,108116199.0
1,16894,2022-10-02,VND,0.000000e+00,4.165300e+07,0,7,2022,10,2,0,0,1,6,103670469.0
2,16894,2022-10-03,VND,2.481500e+07,1.672000e+07,3,2,2022,10,3,0,0,1,6,141674199.0
3,16894,2022-10-04,VND,0.000000e+00,5.188000e+07,0,9,2022,10,4,0,0,1,6,192618585.0
4,16894,2022-10-05,VND,5.000000e+06,1.009000e+07,1,5,2022,10,5,0,5,1,6,197708585.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,16894,2023-03-24,VND,1.000000e+07,0.000000e+00,1,0,2023,3,24,0,0,4,1,3593709.0
149,16894,2023-03-25,VND,1.740500e+05,4.370000e+02,1,2,2023,3,25,0,25,4,1,8459096.0
150,16894,2023-03-27,VND,8.078554e+09,8.080000e+09,18,17,2023,3,27,0,0,4,1,4866060.0
151,16894,2023-03-30,VND,0.000000e+00,5.466500e+07,0,2,2023,3,30,0,0,4,1,64570361.0
152,16894,2023-03-31,VND,2.328290e+08,1.391040e+08,4,3,2023,3,31,1,99,4,1,7035866.0

In [28]:
df_date_level_combined_data['burn'] = df_date_level_combined_data['operating_currency_withdraw'] - df_date_level_combined_data['operating_currency_deposit']

In [29]:
df_date_level_combined_data['age'] = df_date_level_combined_data['transaction_date'].apply(lambda x: (first_day_of_month - x).days)
df_date_level_combined_data

,application_id,transaction_date,operating_currency,operating_currency_withdraw,operating_currency_deposit,debit_count,credit_count,Transaction Year,Transaction Month,Transaction Day,Month End Flag,Transaction Day Eff,Week,Lag month,operating_currency_balance,burn,age
0,16894,2022-10-01,VND,7.730000e+06,1.824740e+07,2,5,2022,10,1,0,1,1,6,108116199.0,-10517401.0,182
1,16894,2022-10-02,VND,0.000000e+00,4.165300e+07,0,7,2022,10,2,0,0,1,6,103670469.0,-41653000.0,181
2,16894,2022-10-03,VND,2.481500e+07,1.672000e+07,3,2,2022,10,3,0,0,1,6,141674199.0,8095000.0,180
3,16894,2022-10-04,VND,0.000000e+00,5.188000e+07,0,9,2022,10,4,0,0,1,6,192618585.0,-51880000.0,179
4,16894,2022-10-05,VND,5.000000e+06,1.009000e+07,1,5,2022,10,5,0,5,1,6,197708585.0,-5090000.0,178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,16894,2023-03-24,VND,1.000000e+07,0.000000e+00,1,0,2023,3,24,0,0,4,1,3593709.0,10000000.0,8
149,16894,2023-03-25,VND,1.740500e+05,4.370000e+02,1,2,2023,3,25,0,25,4,1,8459096.0,173613.0,7
150,16894,2023-03-27,VND,8.078554e+09,8.080000e+09,18,17,2023,3,27,0,0,4,1,4866060.0,-1446265.0,5
151,16894,2023-03-30,VND,0.000000e+00,5.466500e+07,0,2,2023,3,30,0,0,4,1,64570361.0,-54665000.0,2
152,16894,2023-03-31,VND,2.328290e+08,1.391040e+08,4,3,2023,3,31,1,99,4,1,7035866.0,93725027.0,1

In [30]:
#bal_month_level_min_lag_month_1_week_3_overall
feat_1_data_sub = df_date_level_combined_data[(df_date_level_combined_data['Lag month'] == 1) & (df_date_level_combined_data['Week'] == 3)]
bal_month_level_min_lag_month_1_week_3_overall = feat_1_data_sub['operating_currency_balance'].min()
bal_month_level_min_lag_month_1_week_3_overall

0.0

In [31]:
#db_amt_month_level_median_lag_month_2_week_1_overall
feat_2_data_sub = df_date_level_combined_data[(df_date_level_combined_data['Lag month'] == 2) & (df_date_level_combined_data['Week'] == 1)]
db_amt_month_level_median_lag_month_2_week_1_overall = feat_2_data_sub['operating_currency_withdraw'].median()
db_amt_month_level_median_lag_month_2_week_1_overall

11000.0

In [32]:
#burn_amt_month_level_max_lag_month_2_week_2_overall
feat_3_data_sub = df_date_level_combined_data[(df_date_level_combined_data['Lag month'] == 2) & (df_date_level_combined_data['Week'] == 2)]
burn_amt_month_level_max_lag_month_2_week_2_overall = feat_3_data_sub['burn'].max()
burn_amt_month_level_max_lag_month_2_week_2_overall

64468695.0

In [33]:
#outflow_inflow_ratio_cnt_day_level_lag_27_overall
feat_4_data_sub = df_date_level_combined_data[(df_date_level_combined_data['age'] == 27)]
# outflow_inflow_ratio_cnt_day_level_lag_27_overall = feat_4_data_sub['debit_count'].sum() / feat_4_data_sub['credit_count'].sum()
if (feat_4_data_sub['credit_count'].sum() == 0):
    outflow_inflow_ratio_cnt_day_level_lag_27_overall = feat_4_data_sub['debit_count'].sum()
else:
    outflow_inflow_ratio_cnt_day_level_lag_27_overall = feat_4_data_sub['debit_count'].sum() / feat_4_data_sub['credit_count'].sum()
# outflow_inflow_ratio_cnt_day_level_lag_27_overall = feat_4_data_sub['debit_count'].sum().divide(feat_4_data_sub['credit_count'].sum())
outflow_inflow_ratio_cnt_day_level_lag_27_overall

2.0

In [34]:
import pandas as pd
check_application_data_corporate = pd.DataFrame()
check_application_data_corporate = corporate_account_data[['id','account_type']]
check_application_data_corporate['company_credit_application_id'] = credit_application_id
check_application_data_corporate['lookback_year_1'] = lookback_year_1
check_application_data_corporate['lookback_month_1'] = lookback_month_1
check_application_data_corporate['lookback_year_2'] = lookback_year_2
check_application_data_corporate['lookback_month_2'] = lookback_month_2
check_application_data_corporate['lookback_year_3'] = lookback_year_3
check_application_data_corporate['lookback_month_3'] = lookback_month_3
check_application_data_corporate['lookback_year_4'] = lookback_year_4
check_application_data_corporate['lookback_month_4'] = lookback_month_4
check_application_data_corporate['lookback_year_5'] = lookback_year_5
check_application_data_corporate['lookback_month_5'] = lookback_month_5
check_application_data_corporate['lookback_year_6'] = lookback_year_6
check_application_data_corporate['lookback_month_6'] = lookback_month_6
check_application_data_corporate

,id,account_type,company_credit_application_id,lookback_year_1,lookback_month_1,lookback_year_2,lookback_month_2,lookback_year_3,lookback_month_3,lookback_year_4,lookback_month_4,lookback_year_5,lookback_month_5,lookback_year_6,lookback_month_6
0,16791,corporate,16894,2023,3,2023,2,2023,1,2022,12,2022,11,2022,10

In [35]:
def query_bank_data_corporate(check_application_data_corporate, i):
    transaction_data_query = f'''select *, fx_amount(convert_cents(operating_currency_balance_cents, operating_currency), operating_currency, 'USD', transaction_date) as USD_currency_balance,
    fx_amount(convert_cents(operating_currency_withdraw_cents, operating_currency), operating_currency, 'USD',transaction_date) as USD_currency_withdraw,
    fx_amount(convert_cents(operating_currency_deposit_cents, operating_currency), operating_currency, 'USD', transaction_date) as USD_currency_deposit,
    convert_cents(operating_currency_balance_cents, operating_currency) as operating_currency_balance,
    convert_cents(operating_currency_withdraw_cents, operating_currency) as operating_currency_withdraw,
    convert_cents(operating_currency_deposit_cents, operating_currency) as operating_currency_deposit,
    case when operating_currency_withdraw_cents > 0 then 1 else 0 end as debit_count,
    case when operating_currency_deposit_cents > 0 then 1 else 0 end as credit_count, {int(check_application_data_corporate['company_credit_application_id'][i])} as application_id
    from underwriting_bank_transactions
    where underwriting_bank_account_id = {int(check_application_data_corporate['id'][i])}
    and ((extract(year from transaction_date) = {check_application_data_corporate['lookback_year_1'][i]}
    and extract(month from transaction_date) = {check_application_data_corporate['lookback_month_1'][i]})
    or (extract(year from transaction_date) = {check_application_data_corporate['lookback_year_2'][i]}
    and extract(month from transaction_date) = {check_application_data_corporate['lookback_month_2'][i]})
    or (extract(year from transaction_date) = {check_application_data_corporate['lookback_year_3'][i]}
    and extract(month from transaction_date) = {check_application_data_corporate['lookback_month_3'][i]})
    or (extract(year from transaction_date) = {check_application_data_corporate['lookback_year_4'][i]}
    and extract(month from transaction_date) = {check_application_data_corporate['lookback_month_4'][i]})
    or (extract(year from transaction_date) = {check_application_data_corporate['lookback_year_5'][i]}
    and extract(month from transaction_date) = {check_application_data_corporate['lookback_month_5'][i]})
    or (extract(year from transaction_date) = {check_application_data_corporate['lookback_year_6'][i]}
    and extract(month from transaction_date) = {check_application_data_corporate['lookback_month_6'][i]}))
    '''
    return Jenfi.df_query(transaction_data_query, rebuild_cache=True)

In [36]:
df_c = pd.DataFrame()
# for i in range(len(check_application_data)):
for i in range(len(check_application_data_corporate)):    
    import time
    start_at = time.perf_counter()
    transaction_data_c = query_bank_data_corporate(check_application_data_corporate, i)
    df_c = df_c.append(transaction_data_c)
    end_at = time.perf_counter()

    print(f"Query {i} took: {end_at - start_at}s.")

Query 0 took: 1.3592897499911487s.

In [37]:
df_c

,id,underwriting_bank_account_id,transaction_date,transaction_details,withdraw_cents,deposit_cents,balance_cents,created_at,updated_at,document_position,...,group_month_helper,usd_currency_balance,usd_currency_withdraw,usd_currency_deposit,operating_currency_balance,operating_currency_withdraw,operating_currency_deposit,debit_count,credit_count,application_id
0,18621978,16791,2023-03-31,DO LAN HUONG SO CMND 036183011002 NOP TIEN VAO...,0,85550000,121740532,2023-04-24 07:31:07.591484,2023-04-24 08:12:05.820697,None,...,2023/03/31,5184.93,0.00,3643.57,121740532.0,0.0,85550000.0,0,1,16894
1,18621979,16791,2023-03-31,Cty Tan Truong Giang thanh toan tien hang cty...,121050000,0,690532,2023-04-24 07:31:07.591484,2023-04-24 08:12:05.832174,None,...,2023/03/31,29.41,5155.52,0.00,690532.0,121050000.0,0.0,1,0,16894
2,18621980,16791,2023-03-31,Tra lai so du tren tai khoan - thang 03/2023,0,3973,694505,2023-04-24 07:31:07.591484,2023-04-24 08:12:05.843093,None,...,2023/03/31,29.58,0.00,0.17,694505.0,0.0,3973.0,0,1,16894
3,18225555,16791,2022-10-01,Tra lai so du tren tai khoan - thang 09/2022,0,7401,990614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.301412,None,...,2022/10/31,41.52,0.00,0.31,990614.0,0.0,7401.0,0,1,16894
4,18225556,16791,2022-10-03,Thu phi Homebanking thang 10/2022 cua thue bao...,55000,0,935614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.340943,None,...,2022/10/31,39.21,2.30,0.00,935614.0,55000.0,0.0,1,0,16894
5,18225557,16791,2022-10-06,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,9100000,10035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.351899,None,...,2022/10/31,420.34,0.00,381.15,10035614.0,0.0,9100000.0,0,1,16894
6,18225558,16791,2022-10-07,Cong ty The Gioi Xe Dap tra tien h ang cty Tan...,0,42000000,52035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.362969,None,...,2022/10/31,2179.02,0.00,1758.77,52035614.0,0.0,42000000.0,0,1,16894
7,18225559,16791,2022-10-08,DO LAN HUONG SO CMND 036183011002 NOP TIEN VAO...,0,433200000,485235614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.373304,None,...,2022/10/31,20314.39,0.00,18135.92,485235614.0,0.0,433200000.0,0,1,16894
8,18225560,16791,2022-10-08,Cty Tan Truong Giang thanh toan tien hang cty ...,433200000,0,52035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.382206,None,...,2022/10/31,2178.47,18135.92,0.00,52035614.0,433200000.0,0.0,1,0,16894
9,18225563,16791,2022-10-18,Cty CP TM 125 TT tien hang HD 220,0,11880000,89405614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.433996,None,...,2022/10/31,3674.12,0.00,488.21,89405614.0,0.0,11880000.0,0,1,16894
10,18225564,16791,2022-10-21,Khach san Fusion thanh toan tien,0,2386800,91792414,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.447283,None,...,2022/10/31,3739.16,0.00,97.23,91792414.0,0.0,2386800.0,0,1,16894
11,18225565,16791,2022-10-24,Cong ty Tan Truong Giang tra tien hang cty Von...,69832500,0,21959914,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.457319,None,...,2022/10/31,883.89,2810.76,0.00,21959914.0,69832500.0,0.0,1,0,16894
12,18225566,16791,2022-11-01,Tra lai so du tren tai khoan - thang 10/2022,0,7570,21967484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.468772,None,...,2022/11/30,884.08,0.00,0.30,21967484.0,0.0,7570.0,0,1,16894
13,18225567,16791,2022-11-02,CTY TNHH MTV DV CO KHI HANG HAI PTS C PTSC MC...,0,28080000,50047484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.481350,None,...,2022/11/30,2012.66,0.00,1129.24,50047484.0,0.0,28080000.0,0,1,16894
14,18225568,16791,2022-11-05,Cty Tan Truong Giang thanh toan tien hang cho ...,35000000,0,15047484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.495426,None,...,2022/11/30,604.92,1407.04,0.00,15047484.0,35000000.0,0.0,1,0,16894
15,18225569,16791,2022-11-07,Thu phi Homebanking thang 11/2022 cua thue bao...,55000,0,14992484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.535400,None,...,2022/11/30,602.77,2.21,0.00,14992484.0,55000.0,0.0,1,0,16894
16,18225570,16791,2022-11-12,Cong ty The Gioi Xe Dap thanh toan tien hang ...,0,358140000,373132484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.549872,None,...,2022/11/30,15033.54,0.00,14429.49,373132484.0,0.0,358140000.0,0,1,16894
17,18225571,16791,2022-11-14,Cong ty Tan Truong Giang ma don vi TA2287A don...,39072000,0,334060484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.558983,None,...,2022/11/30,13460.97,1574.41,0.00,334060484.0,39072000.0,0.0,1,0,16894
18,18225572,16791,2022-11-14,Cong ty Tan Truong Giang thanh toan tien hang ...,64706000,0,269354484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.569620,None,...,2022/11/30,10853.64,2607.33,0.00,269354484.0,64706000.0,0.0,1,0,16894
19,18225573,16791,2022-11-29,(B/O CTY TNHH POSCO ICT VIET NAM) Buy 2 bicycl...,0,11144002,280498486,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.579871,None,...,2022/11/30,11319.54,0.00,449.72,280498486.0,0.0,11144002.0,0,1,16894
20,18225574,16791,2022-11-29,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,14040000,294538486,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.591046,None,...,2022/11/30,11886.12,0.00,566.59,294538486.0,0.0,14040000.0,0,1,16894
21,18225575,16791,2022-12-01,Tra lai so du tren tai khoan - thang 11/2022,0,30974,294569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.628391,None,...,2022/12/31,11952.15,0.00,1.26,294569460.0,0.0,30974.0,0,1,16894
22,18225576,16791,2022-12-03,DO LAN HUONG SO TIEN 6000000 VND.,0,6000000,300569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.640016,None,...,2022/12/31,12261.89,0.00,244.77,300569460.0,0.0,6000000.0,0,1,16894
23,18225577,16791,2022-12-03,Cong ty Tan Truong Giang thanh toan tien hang ...,300000000,0,569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.655103,None,...,2022/12/31,23.23,12238.65,0.00,569460.0,300000000.0,0.0,1,0,16894
24,18225578,16791,2022-12-23,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,35100000,35669460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.664463,None,...,2022/12/31,1508.28,0.00,1484.20,35669460.0,0.0,35100000.0,0,1,16894
25,18225579,16791,2022-12-23,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,13262400,48931860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.674617,None,...,2022/12/31,2069.08,0.00,560.80,48931860.0,0.0,13262400.0,0,1,16894
26,18225580,16791,2022-12-26,Cty Tan Truong Giang thanh toan tien hang cty ...,26028000,0,22903860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.686422,None,...,2022/12/31,971.01,1103.46,0.00,22903860.0,26028000.0,0.0,1,0,16894
27,18225581,16791,2022-12-27,Cty Tan Truong Giang ma don vi TA2287A dong BH...,19536000,0,3367860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.697149,None,...,2022/12/31,142.68,827.63,0.00,3367860.0,19536000.0,0.0,1,0,16894
28,18225582,16791,2023-01-01,Tra lai so du tren tai khoan - thang 12/2022,0,4313,3372173,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.734081,None,...,2023/01/31,142.65,0.00,0.18,3372173.0,0.0,4313.0,0,1,16894
29,18225583,16791,2023-02-01,Tra lai so du tren tai khoan - thang 01/2023,0,573,3372746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.746254,None,...,2023/02/28,143.84,0.00,0.02,3372746.0,0.0,573.0,0,1,16894
30,18225584,16791,2023-02-06,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7800000,11172746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.757432,None,...,2023/02/28,476.46,0.00,332.63,11172746.0,0.0,7800000.0,0,1,16894
31,18225585,16791,2023-02-09,Nguyen trung quan chuyen tien 2 xe dap,0,10300000,21472746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.767748,None,...,2023/02/28,910.04,0.00,436.53,21472746.0,0.0,10300000.0,0,1,16894
32,18225586,16791,2023-02-10,LEC ENERGY 50PTRAM CP MUA XE DAP DI EN CHO PHO...,0,6750000,28222746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.777293,None,...,2023/02/28,1197.35,0.00,286.37,28222746.0,0.0,6750000.0,0,1,16894
33,18225587,16791,2023-02-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,9414000,37636746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.786534,None,...,2023/02/28,1596.74,0.00,399.39,37636746.0,0.0,9414000.0,0,1,16894
34,18225588,16791,2023-02-14,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,5934000,43570746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.797319,None,...,2023/02/28,1845.87,0.00,251.39,43570746.0,0.0,5934000.0,0,1,16894
35,18225589,16791,2023-02-15,DO LAN HUONG NOP TIEN VAO TAI KHOAN CONG TY SO...,0,67100000,110670746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.833529,None,...,2023/02/28,4687.46,0.00,2842.02,110670746.0,0.0,67100000.0,0,1,16894
36,18225590,16791,2023-02-15,Cong ty Tan Truong Giang thanh toan tien hang ...,110099000,0,571746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.844500,None,...,2023/02/28,24.22,4663.24,0.00,571746.0,110099000.0,0.0,1,0,16894
37,18225591,16791,2023-02-20,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,7661746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.853089,None,...,2023/02/28,321.63,0.00,297.63,7661746.0,0.0,7090000.0,0,1,16894
38,18225592,16791,2023-02-24,LEC ENERGY TT 50PTRAM CON LAI HD 11 NCC TAN T...,0,6750000,14411746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.869875,None,...,2023/02/28,604.79,0.00,283.26,14411746.0,0.0,6750000.0,0,1,16894
39,18225593,16791,2023-03-01,Tra lai so du tren tai khoan - thang 02/2023,0,2036,14413782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.879155,None,...,2023/03/31,606.51,0.00,0.09,14413782.0,0.0,2036.0,0,1,16894
40,18225594,16791,2023-03-01,Cty CP TM 125 TT tien hang HD 15,0,18810000,33223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.890087,None,...,2023/03/31,1398.01,0.00,791.50,33223782.0,0.0,18810000.0,0,1,16894
41,18225595,16791,2023-03-06,DO LAN HUONG NOP TIEN VAO TAI KHOAN CONG TY SO...,0,6000000,39223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.926655,None,...,2023/03/31,1653.28,0.00,252.90,39223782.0,0.0,6000000.0,0,1,16894
42,18225596,16791,2023-03-06,Cty Tan Truong Giang ma don vi TA2287A dong BH...,37683250,0,1540532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.937275,None,...,2023/03/31,64.93,1588.35,0.00,1540532.0,37683250.0,0.0,1,0,16894
43,18225597,16791,2023-03-16,(B/O CONG TY TNHH DAI DUONG VIET) CT TNHH DAI ...,0,34650000,36190532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.949283,None,...,2023/03/31,1535.02,0.00,1469.68,36190532.0,0.0,34650000.0,0,1,16894
44,18225561,16791,2022-10-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,59125614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.393108,None,...,2022/10/31,2475.29,0.00,296.82,59125614.0,0.0,7090000.0,0,1,16894
45,18225562,16791,2022-10-17,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,18400000,77525614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.403705,None,...,2022/10/31,3211.94,0.00,762.33,77525614.0,0.0,18400000.0,0,1,16894

In [38]:
basic_data_c = df_c.copy()
basic_data_c = basic_data_c.reset_index(drop = True)
basic_data_c

,id,underwriting_bank_account_id,transaction_date,transaction_details,withdraw_cents,deposit_cents,balance_cents,created_at,updated_at,document_position,...,group_month_helper,usd_currency_balance,usd_currency_withdraw,usd_currency_deposit,operating_currency_balance,operating_currency_withdraw,operating_currency_deposit,debit_count,credit_count,application_id
0,18621978,16791,2023-03-31,DO LAN HUONG SO CMND 036183011002 NOP TIEN VAO...,0,85550000,121740532,2023-04-24 07:31:07.591484,2023-04-24 08:12:05.820697,None,...,2023/03/31,5184.93,0.00,3643.57,121740532.0,0.0,85550000.0,0,1,16894
1,18621979,16791,2023-03-31,Cty Tan Truong Giang thanh toan tien hang cty...,121050000,0,690532,2023-04-24 07:31:07.591484,2023-04-24 08:12:05.832174,None,...,2023/03/31,29.41,5155.52,0.00,690532.0,121050000.0,0.0,1,0,16894
2,18621980,16791,2023-03-31,Tra lai so du tren tai khoan - thang 03/2023,0,3973,694505,2023-04-24 07:31:07.591484,2023-04-24 08:12:05.843093,None,...,2023/03/31,29.58,0.00,0.17,694505.0,0.0,3973.0,0,1,16894
3,18225555,16791,2022-10-01,Tra lai so du tren tai khoan - thang 09/2022,0,7401,990614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.301412,None,...,2022/10/31,41.52,0.00,0.31,990614.0,0.0,7401.0,0,1,16894
4,18225556,16791,2022-10-03,Thu phi Homebanking thang 10/2022 cua thue bao...,55000,0,935614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.340943,None,...,2022/10/31,39.21,2.30,0.00,935614.0,55000.0,0.0,1,0,16894
5,18225557,16791,2022-10-06,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,9100000,10035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.351899,None,...,2022/10/31,420.34,0.00,381.15,10035614.0,0.0,9100000.0,0,1,16894
6,18225558,16791,2022-10-07,Cong ty The Gioi Xe Dap tra tien h ang cty Tan...,0,42000000,52035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.362969,None,...,2022/10/31,2179.02,0.00,1758.77,52035614.0,0.0,42000000.0,0,1,16894
7,18225559,16791,2022-10-08,DO LAN HUONG SO CMND 036183011002 NOP TIEN VAO...,0,433200000,485235614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.373304,None,...,2022/10/31,20314.39,0.00,18135.92,485235614.0,0.0,433200000.0,0,1,16894
8,18225560,16791,2022-10-08,Cty Tan Truong Giang thanh toan tien hang cty ...,433200000,0,52035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.382206,None,...,2022/10/31,2178.47,18135.92,0.00,52035614.0,433200000.0,0.0,1,0,16894
9,18225563,16791,2022-10-18,Cty CP TM 125 TT tien hang HD 220,0,11880000,89405614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.433996,None,...,2022/10/31,3674.12,0.00,488.21,89405614.0,0.0,11880000.0,0,1,16894
10,18225564,16791,2022-10-21,Khach san Fusion thanh toan tien,0,2386800,91792414,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.447283,None,...,2022/10/31,3739.16,0.00,97.23,91792414.0,0.0,2386800.0,0,1,16894
11,18225565,16791,2022-10-24,Cong ty Tan Truong Giang tra tien hang cty Von...,69832500,0,21959914,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.457319,None,...,2022/10/31,883.89,2810.76,0.00,21959914.0,69832500.0,0.0,1,0,16894
12,18225566,16791,2022-11-01,Tra lai so du tren tai khoan - thang 10/2022,0,7570,21967484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.468772,None,...,2022/11/30,884.08,0.00,0.30,21967484.0,0.0,7570.0,0,1,16894
13,18225567,16791,2022-11-02,CTY TNHH MTV DV CO KHI HANG HAI PTS C PTSC MC...,0,28080000,50047484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.481350,None,...,2022/11/30,2012.66,0.00,1129.24,50047484.0,0.0,28080000.0,0,1,16894
14,18225568,16791,2022-11-05,Cty Tan Truong Giang thanh toan tien hang cho ...,35000000,0,15047484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.495426,None,...,2022/11/30,604.92,1407.04,0.00,15047484.0,35000000.0,0.0,1,0,16894
15,18225569,16791,2022-11-07,Thu phi Homebanking thang 11/2022 cua thue bao...,55000,0,14992484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.535400,None,...,2022/11/30,602.77,2.21,0.00,14992484.0,55000.0,0.0,1,0,16894
16,18225570,16791,2022-11-12,Cong ty The Gioi Xe Dap thanh toan tien hang ...,0,358140000,373132484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.549872,None,...,2022/11/30,15033.54,0.00,14429.49,373132484.0,0.0,358140000.0,0,1,16894
17,18225571,16791,2022-11-14,Cong ty Tan Truong Giang ma don vi TA2287A don...,39072000,0,334060484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.558983,None,...,2022/11/30,13460.97,1574.41,0.00,334060484.0,39072000.0,0.0,1,0,16894
18,18225572,16791,2022-11-14,Cong ty Tan Truong Giang thanh toan tien hang ...,64706000,0,269354484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.569620,None,...,2022/11/30,10853.64,2607.33,0.00,269354484.0,64706000.0,0.0,1,0,16894
19,18225573,16791,2022-11-29,(B/O CTY TNHH POSCO ICT VIET NAM) Buy 2 bicycl...,0,11144002,280498486,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.579871,None,...,2022/11/30,11319.54,0.00,449.72,280498486.0,0.0,11144002.0,0,1,16894
20,18225574,16791,2022-11-29,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,14040000,294538486,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.591046,None,...,2022/11/30,11886.12,0.00,566.59,294538486.0,0.0,14040000.0,0,1,16894
21,18225575,16791,2022-12-01,Tra lai so du tren tai khoan - thang 11/2022,0,30974,294569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.628391,None,...,2022/12/31,11952.15,0.00,1.26,294569460.0,0.0,30974.0,0,1,16894
22,18225576,16791,2022-12-03,DO LAN HUONG SO TIEN 6000000 VND.,0,6000000,300569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.640016,None,...,2022/12/31,12261.89,0.00,244.77,300569460.0,0.0,6000000.0,0,1,16894
23,18225577,16791,2022-12-03,Cong ty Tan Truong Giang thanh toan tien hang ...,300000000,0,569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.655103,None,...,2022/12/31,23.23,12238.65,0.00,569460.0,300000000.0,0.0,1,0,16894
24,18225578,16791,2022-12-23,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,35100000,35669460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.664463,None,...,2022/12/31,1508.28,0.00,1484.20,35669460.0,0.0,35100000.0,0,1,16894
25,18225579,16791,2022-12-23,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,13262400,48931860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.674617,None,...,2022/12/31,2069.08,0.00,560.80,48931860.0,0.0,13262400.0,0,1,16894
26,18225580,16791,2022-12-26,Cty Tan Truong Giang thanh toan tien hang cty ...,26028000,0,22903860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.686422,None,...,2022/12/31,971.01,1103.46,0.00,22903860.0,26028000.0,0.0,1,0,16894
27,18225581,16791,2022-12-27,Cty Tan Truong Giang ma don vi TA2287A dong BH...,19536000,0,3367860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.697149,None,...,2022/12/31,142.68,827.63,0.00,3367860.0,19536000.0,0.0,1,0,16894
28,18225582,16791,2023-01-01,Tra lai so du tren tai khoan - thang 12/2022,0,4313,3372173,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.734081,None,...,2023/01/31,142.65,0.00,0.18,3372173.0,0.0,4313.0,0,1,16894
29,18225583,16791,2023-02-01,Tra lai so du tren tai khoan - thang 01/2023,0,573,3372746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.746254,None,...,2023/02/28,143.84,0.00,0.02,3372746.0,0.0,573.0,0,1,16894
30,18225584,16791,2023-02-06,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7800000,11172746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.757432,None,...,2023/02/28,476.46,0.00,332.63,11172746.0,0.0,7800000.0,0,1,16894
31,18225585,16791,2023-02-09,Nguyen trung quan chuyen tien 2 xe dap,0,10300000,21472746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.767748,None,...,2023/02/28,910.04,0.00,436.53,21472746.0,0.0,10300000.0,0,1,16894
32,18225586,16791,2023-02-10,LEC ENERGY 50PTRAM CP MUA XE DAP DI EN CHO PHO...,0,6750000,28222746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.777293,None,...,2023/02/28,1197.35,0.00,286.37,28222746.0,0.0,6750000.0,0,1,16894
33,18225587,16791,2023-02-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,9414000,37636746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.786534,None,...,2023/02/28,1596.74,0.00,399.39,37636746.0,0.0,9414000.0,0,1,16894
34,18225588,16791,2023-02-14,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,5934000,43570746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.797319,None,...,2023/02/28,1845.87,0.00,251.39,43570746.0,0.0,5934000.0,0,1,16894
35,18225589,16791,2023-02-15,DO LAN HUONG NOP TIEN VAO TAI KHOAN CONG TY SO...,0,67100000,110670746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.833529,None,...,2023/02/28,4687.46,0.00,2842.02,110670746.0,0.0,67100000.0,0,1,16894
36,18225590,16791,2023-02-15,Cong ty Tan Truong Giang thanh toan tien hang ...,110099000,0,571746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.844500,None,...,2023/02/28,24.22,4663.24,0.00,571746.0,110099000.0,0.0,1,0,16894
37,18225591,16791,2023-02-20,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,7661746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.853089,None,...,2023/02/28,321.63,0.00,297.63,7661746.0,0.0,7090000.0,0,1,16894
38,18225592,16791,2023-02-24,LEC ENERGY TT 50PTRAM CON LAI HD 11 NCC TAN T...,0,6750000,14411746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.869875,None,...,2023/02/28,604.79,0.00,283.26,14411746.0,0.0,6750000.0,0,1,16894
39,18225593,16791,2023-03-01,Tra lai so du tren tai khoan - thang 02/2023,0,2036,14413782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.879155,None,...,2023/03/31,606.51,0.00,0.09,14413782.0,0.0,2036.0,0,1,16894
40,18225594,16791,2023-03-01,Cty CP TM 125 TT tien hang HD 15,0,18810000,33223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.890087,None,...,2023/03/31,1398.01,0.00,791.50,33223782.0,0.0,18810000.0,0,1,16894
41,18225595,16791,2023-03-06,DO LAN HUONG NOP TIEN VAO TAI KHOAN CONG TY SO...,0,6000000,39223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.926655,None,...,2023/03/31,1653.28,0.00,252.90,39223782.0,0.0,6000000.0,0,1,16894
42,18225596,16791,2023-03-06,Cty Tan Truong Giang ma don vi TA2287A dong BH...,37683250,0,1540532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.937275,None,...,2023/03/31,64.93,1588.35,0.00,1540532.0,37683250.0,0.0,1,0,16894
43,18225597,16791,2023-03-16,(B/O CONG TY TNHH DAI DUONG VIET) CT TNHH DAI ...,0,34650000,36190532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.949283,None,...,2023/03/31,1535.02,0.00,1469.68,36190532.0,0.0,34650000.0,0,1,16894
44,18225561,16791,2022-10-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,59125614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.393108,None,...,2022/10/31,2475.29,0.00,296.82,59125614.0,0.0,7090000.0,0,1,16894
45,18225562,16791,2022-10-17,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,18400000,77525614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.403705,None,...,2022/10/31,3211.94,0.00,762.33,77525614.0,0.0,18400000.0,0,1,16894

In [39]:
basic_data_c["day_level_transaction_rank"] = basic_data_c.groupby(['application_id','underwriting_bank_account_id','transaction_date'])['id'].rank(ascending=0,method='dense')

In [40]:
basic_data_c['Transaction Date datetime'] = pd.to_datetime(basic_data_c['transaction_date'])

In [41]:
basic_data_c['Transaction Year'] = basic_data_c['Transaction Date datetime'].dt.year
basic_data_c['Transaction Month'] = basic_data_c['Transaction Date datetime'].dt.month
basic_data_c['Transaction Day'] = basic_data_c['Transaction Date datetime'].dt.day

In [42]:
basic_data_c['Month End Flag'] = np.where(basic_data_c['Transaction Date datetime'].dt.is_month_end, 1, 0)

In [43]:
basic_data_c['Transaction Day Eff'] = np.where(basic_data_c['Transaction Day'].isin([1,5,10,15,20,25]), basic_data_c['Transaction Day'],np.where(basic_data_c['Month End Flag'] == 1, 99, 0))

In [44]:
basic_data_c['Week'] = np.where(basic_data_c['Transaction Day'] <= 7, 1,
                                np.where(basic_data_c['Transaction Day'] <= 14, 2,
                                        np.where(basic_data_c['Transaction Day'] <= 21, 3, 4)))

In [45]:
basic_data_c['Lag month'] = np.where(basic_data_c['Transaction Month'] == lookback_month_1, 1,
                                      np.where(basic_data_c['Transaction Month'] == lookback_month_2, 2,
                                              np.where(basic_data_c['Transaction Month'] == lookback_month_3, 3,
                                                      np.where(basic_data_c['Transaction Month'] == lookback_month_4, 4,
                                                              np.where(basic_data_c['Transaction Month'] == lookback_month_5, 5,6)))))

In [46]:
basic_data_c

,id,underwriting_bank_account_id,transaction_date,transaction_details,withdraw_cents,deposit_cents,balance_cents,created_at,updated_at,document_position,...,application_id,day_level_transaction_rank,Transaction Date datetime,Transaction Year,Transaction Month,Transaction Day,Month End Flag,Transaction Day Eff,Week,Lag month
0,18621978,16791,2023-03-31,DO LAN HUONG SO CMND 036183011002 NOP TIEN VAO...,0,85550000,121740532,2023-04-24 07:31:07.591484,2023-04-24 08:12:05.820697,None,...,16894,3.0,2023-03-31,2023,3,31,1,99,4,1
1,18621979,16791,2023-03-31,Cty Tan Truong Giang thanh toan tien hang cty...,121050000,0,690532,2023-04-24 07:31:07.591484,2023-04-24 08:12:05.832174,None,...,16894,2.0,2023-03-31,2023,3,31,1,99,4,1
2,18621980,16791,2023-03-31,Tra lai so du tren tai khoan - thang 03/2023,0,3973,694505,2023-04-24 07:31:07.591484,2023-04-24 08:12:05.843093,None,...,16894,1.0,2023-03-31,2023,3,31,1,99,4,1
3,18225555,16791,2022-10-01,Tra lai so du tren tai khoan - thang 09/2022,0,7401,990614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.301412,None,...,16894,1.0,2022-10-01,2022,10,1,0,1,1,6
4,18225556,16791,2022-10-03,Thu phi Homebanking thang 10/2022 cua thue bao...,55000,0,935614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.340943,None,...,16894,1.0,2022-10-03,2022,10,3,0,0,1,6
5,18225557,16791,2022-10-06,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,9100000,10035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.351899,None,...,16894,1.0,2022-10-06,2022,10,6,0,0,1,6
6,18225558,16791,2022-10-07,Cong ty The Gioi Xe Dap tra tien h ang cty Tan...,0,42000000,52035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.362969,None,...,16894,1.0,2022-10-07,2022,10,7,0,0,1,6
7,18225559,16791,2022-10-08,DO LAN HUONG SO CMND 036183011002 NOP TIEN VAO...,0,433200000,485235614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.373304,None,...,16894,2.0,2022-10-08,2022,10,8,0,0,2,6
8,18225560,16791,2022-10-08,Cty Tan Truong Giang thanh toan tien hang cty ...,433200000,0,52035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.382206,None,...,16894,1.0,2022-10-08,2022,10,8,0,0,2,6
9,18225563,16791,2022-10-18,Cty CP TM 125 TT tien hang HD 220,0,11880000,89405614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.433996,None,...,16894,1.0,2022-10-18,2022,10,18,0,0,3,6
10,18225564,16791,2022-10-21,Khach san Fusion thanh toan tien,0,2386800,91792414,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.447283,None,...,16894,1.0,2022-10-21,2022,10,21,0,0,3,6
11,18225565,16791,2022-10-24,Cong ty Tan Truong Giang tra tien hang cty Von...,69832500,0,21959914,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.457319,None,...,16894,1.0,2022-10-24,2022,10,24,0,0,4,6
12,18225566,16791,2022-11-01,Tra lai so du tren tai khoan - thang 10/2022,0,7570,21967484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.468772,None,...,16894,1.0,2022-11-01,2022,11,1,0,1,1,5
13,18225567,16791,2022-11-02,CTY TNHH MTV DV CO KHI HANG HAI PTS C PTSC MC...,0,28080000,50047484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.481350,None,...,16894,1.0,2022-11-02,2022,11,2,0,0,1,5
14,18225568,16791,2022-11-05,Cty Tan Truong Giang thanh toan tien hang cho ...,35000000,0,15047484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.495426,None,...,16894,1.0,2022-11-05,2022,11,5,0,5,1,5
15,18225569,16791,2022-11-07,Thu phi Homebanking thang 11/2022 cua thue bao...,55000,0,14992484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.535400,None,...,16894,1.0,2022-11-07,2022,11,7,0,0,1,5
16,18225570,16791,2022-11-12,Cong ty The Gioi Xe Dap thanh toan tien hang ...,0,358140000,373132484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.549872,None,...,16894,1.0,2022-11-12,2022,11,12,0,0,2,5
17,18225571,16791,2022-11-14,Cong ty Tan Truong Giang ma don vi TA2287A don...,39072000,0,334060484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.558983,None,...,16894,2.0,2022-11-14,2022,11,14,0,0,2,5
18,18225572,16791,2022-11-14,Cong ty Tan Truong Giang thanh toan tien hang ...,64706000,0,269354484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.569620,None,...,16894,1.0,2022-11-14,2022,11,14,0,0,2,5
19,18225573,16791,2022-11-29,(B/O CTY TNHH POSCO ICT VIET NAM) Buy 2 bicycl...,0,11144002,280498486,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.579871,None,...,16894,2.0,2022-11-29,2022,11,29,0,0,4,5
20,18225574,16791,2022-11-29,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,14040000,294538486,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.591046,None,...,16894,1.0,2022-11-29,2022,11,29,0,0,4,5
21,18225575,16791,2022-12-01,Tra lai so du tren tai khoan - thang 11/2022,0,30974,294569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.628391,None,...,16894,1.0,2022-12-01,2022,12,1,0,1,1,4
22,18225576,16791,2022-12-03,DO LAN HUONG SO TIEN 6000000 VND.,0,6000000,300569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.640016,None,...,16894,2.0,2022-12-03,2022,12,3,0,0,1,4
23,18225577,16791,2022-12-03,Cong ty Tan Truong Giang thanh toan tien hang ...,300000000,0,569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.655103,None,...,16894,1.0,2022-12-03,2022,12,3,0,0,1,4
24,18225578,16791,2022-12-23,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,35100000,35669460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.664463,None,...,16894,2.0,2022-12-23,2022,12,23,0,0,4,4
25,18225579,16791,2022-12-23,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,13262400,48931860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.674617,None,...,16894,1.0,2022-12-23,2022,12,23,0,0,4,4
26,18225580,16791,2022-12-26,Cty Tan Truong Giang thanh toan tien hang cty ...,26028000,0,22903860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.686422,None,...,16894,1.0,2022-12-26,2022,12,26,0,0,4,4
27,18225581,16791,2022-12-27,Cty Tan Truong Giang ma don vi TA2287A dong BH...,19536000,0,3367860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.697149,None,...,16894,1.0,2022-12-27,2022,12,27,0,0,4,4
28,18225582,16791,2023-01-01,Tra lai so du tren tai khoan - thang 12/2022,0,4313,3372173,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.734081,None,...,16894,1.0,2023-01-01,2023,1,1,0,1,1,3
29,18225583,16791,2023-02-01,Tra lai so du tren tai khoan - thang 01/2023,0,573,3372746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.746254,None,...,16894,1.0,2023-02-01,2023,2,1,0,1,1,2
30,18225584,16791,2023-02-06,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7800000,11172746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.757432,None,...,16894,1.0,2023-02-06,2023,2,6,0,0,1,2
31,18225585,16791,2023-02-09,Nguyen trung quan chuyen tien 2 xe dap,0,10300000,21472746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.767748,None,...,16894,1.0,2023-02-09,2023,2,9,0,0,2,2
32,18225586,16791,2023-02-10,LEC ENERGY 50PTRAM CP MUA XE DAP DI EN CHO PHO...,0,6750000,28222746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.777293,None,...,16894,2.0,2023-02-10,2023,2,10,0,10,2,2
33,18225587,16791,2023-02-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,9414000,37636746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.786534,None,...,16894,1.0,2023-02-10,2023,2,10,0,10,2,2
34,18225588,16791,2023-02-14,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,5934000,43570746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.797319,None,...,16894,1.0,2023-02-14,2023,2,14,0,0,2,2
35,18225589,16791,2023-02-15,DO LAN HUONG NOP TIEN VAO TAI KHOAN CONG TY SO...,0,67100000,110670746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.833529,None,...,16894,2.0,2023-02-15,2023,2,15,0,15,3,2
36,18225590,16791,2023-02-15,Cong ty Tan Truong Giang thanh toan tien hang ...,110099000,0,571746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.844500,None,...,16894,1.0,2023-02-15,2023,2,15,0,15,3,2
37,18225591,16791,2023-02-20,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,7661746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.853089,None,...,16894,1.0,2023-02-20,2023,2,20,0,20,3,2
38,18225592,16791,2023-02-24,LEC ENERGY TT 50PTRAM CON LAI HD 11 NCC TAN T...,0,6750000,14411746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.869875,None,...,16894,1.0,2023-02-24,2023,2,24,0,0,4,2
39,18225593,16791,2023-03-01,Tra lai so du tren tai khoan - thang 02/2023,0,2036,14413782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.879155,None,...,16894,2.0,2023-03-01,2023,3,1,0,1,1,1
40,18225594,16791,2023-03-01,Cty CP TM 125 TT tien hang HD 15,0,18810000,33223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.890087,None,...,16894,1.0,2023-03-01,2023,3,1,0,1,1,1
41,18225595,16791,2023-03-06,DO LAN HUONG NOP TIEN VAO TAI KHOAN CONG TY SO...,0,6000000,39223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.926655,None,...,16894,2.0,2023-03-06,2023,3,6,0,0,1,1
42,18225596,16791,2023-03-06,Cty Tan Truong Giang ma don vi TA2287A dong BH...,37683250,0,1540532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.937275,None,...,16894,1.0,2023-03-06,2023,3,6,0,0,1,1
43,18225597,16791,2023-03-16,(B/O CONG TY TNHH DAI DUONG VIET) CT TNHH DAI ...,0,34650000,36190532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.949283,None,...,16894,1.0,2023-03-16,2023,3,16,0,0,3,1
44,18225561,16791,2022-10-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,59125614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.393108,None,...,16894,1.0,2022-10-10,2022,10,10,0,10,2,6
45,18225562,16791,2022-10-17,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,18400000,77525614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.403705,None,...,16894,1.0,2022-10-17,2022,10,17,0,0,3,6

In [47]:
basic_data_c_account_level_closing_balance_subset = basic_data_c[basic_data_c['day_level_transaction_rank'] == 1]
basic_data_c_account_level_closing_balance_subset

,id,underwriting_bank_account_id,transaction_date,transaction_details,withdraw_cents,deposit_cents,balance_cents,created_at,updated_at,document_position,...,application_id,day_level_transaction_rank,Transaction Date datetime,Transaction Year,Transaction Month,Transaction Day,Month End Flag,Transaction Day Eff,Week,Lag month
2,18621980,16791,2023-03-31,Tra lai so du tren tai khoan - thang 03/2023,0,3973,694505,2023-04-24 07:31:07.591484,2023-04-24 08:12:05.843093,None,...,16894,1.0,2023-03-31,2023,3,31,1,99,4,1
3,18225555,16791,2022-10-01,Tra lai so du tren tai khoan - thang 09/2022,0,7401,990614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.301412,None,...,16894,1.0,2022-10-01,2022,10,1,0,1,1,6
4,18225556,16791,2022-10-03,Thu phi Homebanking thang 10/2022 cua thue bao...,55000,0,935614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.340943,None,...,16894,1.0,2022-10-03,2022,10,3,0,0,1,6
5,18225557,16791,2022-10-06,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,9100000,10035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.351899,None,...,16894,1.0,2022-10-06,2022,10,6,0,0,1,6
6,18225558,16791,2022-10-07,Cong ty The Gioi Xe Dap tra tien h ang cty Tan...,0,42000000,52035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.362969,None,...,16894,1.0,2022-10-07,2022,10,7,0,0,1,6
8,18225560,16791,2022-10-08,Cty Tan Truong Giang thanh toan tien hang cty ...,433200000,0,52035614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.382206,None,...,16894,1.0,2022-10-08,2022,10,8,0,0,2,6
9,18225563,16791,2022-10-18,Cty CP TM 125 TT tien hang HD 220,0,11880000,89405614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.433996,None,...,16894,1.0,2022-10-18,2022,10,18,0,0,3,6
10,18225564,16791,2022-10-21,Khach san Fusion thanh toan tien,0,2386800,91792414,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.447283,None,...,16894,1.0,2022-10-21,2022,10,21,0,0,3,6
11,18225565,16791,2022-10-24,Cong ty Tan Truong Giang tra tien hang cty Von...,69832500,0,21959914,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.457319,None,...,16894,1.0,2022-10-24,2022,10,24,0,0,4,6
12,18225566,16791,2022-11-01,Tra lai so du tren tai khoan - thang 10/2022,0,7570,21967484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.468772,None,...,16894,1.0,2022-11-01,2022,11,1,0,1,1,5
13,18225567,16791,2022-11-02,CTY TNHH MTV DV CO KHI HANG HAI PTS C PTSC MC...,0,28080000,50047484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.481350,None,...,16894,1.0,2022-11-02,2022,11,2,0,0,1,5
14,18225568,16791,2022-11-05,Cty Tan Truong Giang thanh toan tien hang cho ...,35000000,0,15047484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.495426,None,...,16894,1.0,2022-11-05,2022,11,5,0,5,1,5
15,18225569,16791,2022-11-07,Thu phi Homebanking thang 11/2022 cua thue bao...,55000,0,14992484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.535400,None,...,16894,1.0,2022-11-07,2022,11,7,0,0,1,5
16,18225570,16791,2022-11-12,Cong ty The Gioi Xe Dap thanh toan tien hang ...,0,358140000,373132484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.549872,None,...,16894,1.0,2022-11-12,2022,11,12,0,0,2,5
18,18225572,16791,2022-11-14,Cong ty Tan Truong Giang thanh toan tien hang ...,64706000,0,269354484,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.569620,None,...,16894,1.0,2022-11-14,2022,11,14,0,0,2,5
20,18225574,16791,2022-11-29,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,14040000,294538486,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.591046,None,...,16894,1.0,2022-11-29,2022,11,29,0,0,4,5
21,18225575,16791,2022-12-01,Tra lai so du tren tai khoan - thang 11/2022,0,30974,294569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.628391,None,...,16894,1.0,2022-12-01,2022,12,1,0,1,1,4
23,18225577,16791,2022-12-03,Cong ty Tan Truong Giang thanh toan tien hang ...,300000000,0,569460,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.655103,None,...,16894,1.0,2022-12-03,2022,12,3,0,0,1,4
25,18225579,16791,2022-12-23,CTY TNHH MTV DV CO KHI HANG HAI PTSC chuyen ti...,0,13262400,48931860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.674617,None,...,16894,1.0,2022-12-23,2022,12,23,0,0,4,4
26,18225580,16791,2022-12-26,Cty Tan Truong Giang thanh toan tien hang cty ...,26028000,0,22903860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.686422,None,...,16894,1.0,2022-12-26,2022,12,26,0,0,4,4
27,18225581,16791,2022-12-27,Cty Tan Truong Giang ma don vi TA2287A dong BH...,19536000,0,3367860,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.697149,None,...,16894,1.0,2022-12-27,2022,12,27,0,0,4,4
28,18225582,16791,2023-01-01,Tra lai so du tren tai khoan - thang 12/2022,0,4313,3372173,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.734081,None,...,16894,1.0,2023-01-01,2023,1,1,0,1,1,3
29,18225583,16791,2023-02-01,Tra lai so du tren tai khoan - thang 01/2023,0,573,3372746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.746254,None,...,16894,1.0,2023-02-01,2023,2,1,0,1,1,2
30,18225584,16791,2023-02-06,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7800000,11172746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.757432,None,...,16894,1.0,2023-02-06,2023,2,6,0,0,1,2
31,18225585,16791,2023-02-09,Nguyen trung quan chuyen tien 2 xe dap,0,10300000,21472746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.767748,None,...,16894,1.0,2023-02-09,2023,2,9,0,0,2,2
33,18225587,16791,2023-02-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,9414000,37636746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.786534,None,...,16894,1.0,2023-02-10,2023,2,10,0,10,2,2
34,18225588,16791,2023-02-14,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,5934000,43570746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.797319,None,...,16894,1.0,2023-02-14,2023,2,14,0,0,2,2
36,18225590,16791,2023-02-15,Cong ty Tan Truong Giang thanh toan tien hang ...,110099000,0,571746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.844500,None,...,16894,1.0,2023-02-15,2023,2,15,0,15,3,2
37,18225591,16791,2023-02-20,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,7661746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.853089,None,...,16894,1.0,2023-02-20,2023,2,20,0,20,3,2
38,18225592,16791,2023-02-24,LEC ENERGY TT 50PTRAM CON LAI HD 11 NCC TAN T...,0,6750000,14411746,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.869875,None,...,16894,1.0,2023-02-24,2023,2,24,0,0,4,2
40,18225594,16791,2023-03-01,Cty CP TM 125 TT tien hang HD 15,0,18810000,33223782,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.890087,None,...,16894,1.0,2023-03-01,2023,3,1,0,1,1,1
42,18225596,16791,2023-03-06,Cty Tan Truong Giang ma don vi TA2287A dong BH...,37683250,0,1540532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.937275,None,...,16894,1.0,2023-03-06,2023,3,6,0,0,1,1
43,18225597,16791,2023-03-16,(B/O CONG TY TNHH DAI DUONG VIET) CT TNHH DAI ...,0,34650000,36190532,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.949283,None,...,16894,1.0,2023-03-16,2023,3,16,0,0,3,1
44,18225561,16791,2022-10-10,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,7090000,59125614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.393108,None,...,16894,1.0,2022-10-10,2022,10,10,0,10,2,6
45,18225562,16791,2022-10-17,CTY TAI CHINH TNHH MTV HOME CREDIT VN/HOME CR...,0,18400000,77525614,2023-03-27 04:07:18.259400,2023-03-27 04:11:52.403705,None,...,16894,1.0,2022-10-17,2022,10,17,0,0,3,6

In [48]:
df_day_level_closing_balance_c = basic_data_c_account_level_closing_balance_subset.groupby(['application_id', 'transaction_date'])['operating_currency_balance'].sum()
df_day_level_closing_balance_c = df_day_level_closing_balance_c.reset_index()
df_day_level_closing_balance_c

    application_id transaction_date  operating_currency_balance
0            16894       2022-10-01                    990614.0
1            16894       2022-10-03                    935614.0
2            16894       2022-10-06                  10035614.0
3            16894       2022-10-07                  52035614.0
4            16894       2022-10-08                  52035614.0
5            16894       2022-10-10                  59125614.0
6            16894       2022-10-17                  77525614.0
7            16894       2022-10-18                  89405614.0
8            16894       2022-10-21                  91792414.0
9            16894       2022-10-24                  21959914.0
10           16894       2022-11-01                  21967484.0
11           16894       2022-11-02                  50047484.0
12           16894       2022-11-05                  15047484.0
13           16894       2022-11-07                  14992484.0
14           16894       2022-11-12                 373132484.0
15           16894       2022-11-14                 269354484.0
16           16894       2022-11-29                 294538486.0
17           16894       2022-12-01                 294569460.0
18           16894       2022-12-03                    569460.0
19           16894       2022-12-23                  48931860.0
20           16894       2022-12-26                  22903860.0
21           16894       2022-12-27                   3367860.0
22           16894       2023-01-01                   3372173.0
23           16894       2023-02-01                   3372746.0
24           16894       2023-02-06                  11172746.0
25           16894       2023-02-09                  21472746.0
26           16894       2023-02-10                  37636746.0
27           16894       2023-02-14                  43570746.0
28           16894       2023-02-15                    571746.0
29           16894       2023-02-20                   7661746.0
30           16894       2023-02-24                  14411746.0
31           16894       2023-03-01                  33223782.0
32           16894       2023-03-06                   1540532.0
33           16894       2023-03-16                  36190532.0
34           16894       2023-03-31                    694505.0

In [49]:
h = {'operating_currency' : 'max', 'operating_currency_withdraw' : 'sum', 'operating_currency_deposit' : 'sum', 'debit_count' : 'sum', 'credit_count' : 'sum', 'Transaction Year' : 'max', 'Transaction Month' : 'max', 'Transaction Day' : 'max', 'Month End Flag' : 'max', 'Transaction Day Eff' : 'max', 'Week' : 'max', 'Lag month' : 'max'}
basic_data_c_day_level = basic_data_c.groupby(['application_id', 'transaction_date']).agg(h)
basic_data_c_day_level = basic_data_c_day_level.reset_index()
basic_data_c_day_level

,application_id,transaction_date,operating_currency,operating_currency_withdraw,operating_currency_deposit,debit_count,credit_count,Transaction Year,Transaction Month,Transaction Day,Month End Flag,Transaction Day Eff,Week,Lag month
0,16894,2022-10-01,VND,0.0,7401.0,0,1,2022,10,1,0,1,1,6
1,16894,2022-10-03,VND,55000.0,0.0,1,0,2022,10,3,0,0,1,6
2,16894,2022-10-06,VND,0.0,9100000.0,0,1,2022,10,6,0,0,1,6
3,16894,2022-10-07,VND,0.0,42000000.0,0,1,2022,10,7,0,0,1,6
4,16894,2022-10-08,VND,433200000.0,433200000.0,1,1,2022,10,8,0,0,2,6
5,16894,2022-10-10,VND,0.0,7090000.0,0,1,2022,10,10,0,10,2,6
6,16894,2022-10-17,VND,0.0,18400000.0,0,1,2022,10,17,0,0,3,6
7,16894,2022-10-18,VND,0.0,11880000.0,0,1,2022,10,18,0,0,3,6
8,16894,2022-10-21,VND,0.0,2386800.0,0,1,2022,10,21,0,0,3,6
9,16894,2022-10-24,VND,69832500.0,0.0,1,0,2022,10,24,0,0,4,6
10,16894,2022-11-01,VND,0.0,7570.0,0,1,2022,11,1,0,1,1,5
11,16894,2022-11-02,VND,0.0,28080000.0,0,1,2022,11,2,0,0,1,5
12,16894,2022-11-05,VND,35000000.0,0.0,1,0,2022,11,5,0,5,1,5
13,16894,2022-11-07,VND,55000.0,0.0,1,0,2022,11,7,0,0,1,5
14,16894,2022-11-12,VND,0.0,358140000.0,0,1,2022,11,12,0,0,2,5
15,16894,2022-11-14,VND,103778000.0,0.0,2,0,2022,11,14,0,0,2,5
16,16894,2022-11-29,VND,0.0,25184002.0,0,2,2022,11,29,0,0,4,5
17,16894,2022-12-01,VND,0.0,30974.0,0,1,2022,12,1,0,1,1,4
18,16894,2022-12-03,VND,300000000.0,6000000.0,1,1,2022,12,3,0,0,1,4
19,16894,2022-12-23,VND,0.0,48362400.0,0,2,2022,12,23,0,0,4,4
20,16894,2022-12-26,VND,26028000.0,0.0,1,0,2022,12,26,0,0,4,4
21,16894,2022-12-27,VND,19536000.0,0.0,1,0,2022,12,27,0,0,4,4
22,16894,2023-01-01,VND,0.0,4313.0,0,1,2023,1,1,0,1,1,3
23,16894,2023-02-01,VND,0.0,573.0,0,1,2023,2,1,0,1,1,2
24,16894,2023-02-06,VND,0.0,7800000.0,0,1,2023,2,6,0,0,1,2
25,16894,2023-02-09,VND,0.0,10300000.0,0,1,2023,2,9,0,0,2,2
26,16894,2023-02-10,VND,0.0,16164000.0,0,2,2023,2,10,0,10,2,2
27,16894,2023-02-14,VND,0.0,5934000.0,0,1,2023,2,14,0,0,2,2
28,16894,2023-02-15,VND,110099000.0,67100000.0,1,1,2023,2,15,0,15,3,2
29,16894,2023-02-20,VND,0.0,7090000.0,0,1,2023,2,20,0,20,3,2
30,16894,2023-02-24,VND,0.0,6750000.0,0,1,2023,2,24,0,0,4,2
31,16894,2023-03-01,VND,0.0,18812036.0,0,2,2023,3,1,0,1,1,1
32,16894,2023-03-06,VND,37683250.0,6000000.0,1,1,2023,3,6,0,0,1,1
33,16894,2023-03-16,VND,0.0,34650000.0,0,1,2023,3,16,0,0,3,1
34,16894,2023-03-31,VND,121050000.0,85553973.0,1,2,2023,3,31,1,99,4,1

In [50]:
df_date_level_combined_data_c = basic_data_c_day_level.merge(df_day_level_closing_balance_c, on = ['application_id', 'transaction_date'], how = 'left')
df_date_level_combined_data_c

,application_id,transaction_date,operating_currency,operating_currency_withdraw,operating_currency_deposit,debit_count,credit_count,Transaction Year,Transaction Month,Transaction Day,Month End Flag,Transaction Day Eff,Week,Lag month,operating_currency_balance
0,16894,2022-10-01,VND,0.0,7401.0,0,1,2022,10,1,0,1,1,6,990614.0
1,16894,2022-10-03,VND,55000.0,0.0,1,0,2022,10,3,0,0,1,6,935614.0
2,16894,2022-10-06,VND,0.0,9100000.0,0,1,2022,10,6,0,0,1,6,10035614.0
3,16894,2022-10-07,VND,0.0,42000000.0,0,1,2022,10,7,0,0,1,6,52035614.0
4,16894,2022-10-08,VND,433200000.0,433200000.0,1,1,2022,10,8,0,0,2,6,52035614.0
5,16894,2022-10-10,VND,0.0,7090000.0,0,1,2022,10,10,0,10,2,6,59125614.0
6,16894,2022-10-17,VND,0.0,18400000.0,0,1,2022,10,17,0,0,3,6,77525614.0
7,16894,2022-10-18,VND,0.0,11880000.0,0,1,2022,10,18,0,0,3,6,89405614.0
8,16894,2022-10-21,VND,0.0,2386800.0,0,1,2022,10,21,0,0,3,6,91792414.0
9,16894,2022-10-24,VND,69832500.0,0.0,1,0,2022,10,24,0,0,4,6,21959914.0
10,16894,2022-11-01,VND,0.0,7570.0,0,1,2022,11,1,0,1,1,5,21967484.0
11,16894,2022-11-02,VND,0.0,28080000.0,0,1,2022,11,2,0,0,1,5,50047484.0
12,16894,2022-11-05,VND,35000000.0,0.0,1,0,2022,11,5,0,5,1,5,15047484.0
13,16894,2022-11-07,VND,55000.0,0.0,1,0,2022,11,7,0,0,1,5,14992484.0
14,16894,2022-11-12,VND,0.0,358140000.0,0,1,2022,11,12,0,0,2,5,373132484.0
15,16894,2022-11-14,VND,103778000.0,0.0,2,0,2022,11,14,0,0,2,5,269354484.0
16,16894,2022-11-29,VND,0.0,25184002.0,0,2,2022,11,29,0,0,4,5,294538486.0
17,16894,2022-12-01,VND,0.0,30974.0,0,1,2022,12,1,0,1,1,4,294569460.0
18,16894,2022-12-03,VND,300000000.0,6000000.0,1,1,2022,12,3,0,0,1,4,569460.0
19,16894,2022-12-23,VND,0.0,48362400.0,0,2,2022,12,23,0,0,4,4,48931860.0
20,16894,2022-12-26,VND,26028000.0,0.0,1,0,2022,12,26,0,0,4,4,22903860.0
21,16894,2022-12-27,VND,19536000.0,0.0,1,0,2022,12,27,0,0,4,4,3367860.0
22,16894,2023-01-01,VND,0.0,4313.0,0,1,2023,1,1,0,1,1,3,3372173.0
23,16894,2023-02-01,VND,0.0,573.0,0,1,2023,2,1,0,1,1,2,3372746.0
24,16894,2023-02-06,VND,0.0,7800000.0,0,1,2023,2,6,0,0,1,2,11172746.0
25,16894,2023-02-09,VND,0.0,10300000.0,0,1,2023,2,9,0,0,2,2,21472746.0
26,16894,2023-02-10,VND,0.0,16164000.0,0,2,2023,2,10,0,10,2,2,37636746.0
27,16894,2023-02-14,VND,0.0,5934000.0,0,1,2023,2,14,0,0,2,2,43570746.0
28,16894,2023-02-15,VND,110099000.0,67100000.0,1,1,2023,2,15,0,15,3,2,571746.0
29,16894,2023-02-20,VND,0.0,7090000.0,0,1,2023,2,20,0,20,3,2,7661746.0
30,16894,2023-02-24,VND,0.0,6750000.0,0,1,2023,2,24,0,0,4,2,14411746.0
31,16894,2023-03-01,VND,0.0,18812036.0,0,2,2023,3,1,0,1,1,1,33223782.0
32,16894,2023-03-06,VND,37683250.0,6000000.0,1,1,2023,3,6,0,0,1,1,1540532.0
33,16894,2023-03-16,VND,0.0,34650000.0,0,1,2023,3,16,0,0,3,1,36190532.0
34,16894,2023-03-31,VND,121050000.0,85553973.0,1,2,2023,3,31,1,99,4,1,694505.0

In [51]:
df_date_level_combined_data_c['burn'] = df_date_level_combined_data_c['operating_currency_withdraw'] - df_date_level_combined_data_c['operating_currency_deposit']

In [52]:
df_date_level_combined_data_c['age'] = df_date_level_combined_data_c['transaction_date'].apply(lambda x: (first_day_of_month - x).days)
df_date_level_combined_data_c

,application_id,transaction_date,operating_currency,operating_currency_withdraw,operating_currency_deposit,debit_count,credit_count,Transaction Year,Transaction Month,Transaction Day,Month End Flag,Transaction Day Eff,Week,Lag month,operating_currency_balance,burn,age
0,16894,2022-10-01,VND,0.0,7401.0,0,1,2022,10,1,0,1,1,6,990614.0,-7401.0,182
1,16894,2022-10-03,VND,55000.0,0.0,1,0,2022,10,3,0,0,1,6,935614.0,55000.0,180
2,16894,2022-10-06,VND,0.0,9100000.0,0,1,2022,10,6,0,0,1,6,10035614.0,-9100000.0,177
3,16894,2022-10-07,VND,0.0,42000000.0,0,1,2022,10,7,0,0,1,6,52035614.0,-42000000.0,176
4,16894,2022-10-08,VND,433200000.0,433200000.0,1,1,2022,10,8,0,0,2,6,52035614.0,0.0,175
5,16894,2022-10-10,VND,0.0,7090000.0,0,1,2022,10,10,0,10,2,6,59125614.0,-7090000.0,173
6,16894,2022-10-17,VND,0.0,18400000.0,0,1,2022,10,17,0,0,3,6,77525614.0,-18400000.0,166
7,16894,2022-10-18,VND,0.0,11880000.0,0,1,2022,10,18,0,0,3,6,89405614.0,-11880000.0,165
8,16894,2022-10-21,VND,0.0,2386800.0,0,1,2022,10,21,0,0,3,6,91792414.0,-2386800.0,162
9,16894,2022-10-24,VND,69832500.0,0.0,1,0,2022,10,24,0,0,4,6,21959914.0,69832500.0,159
10,16894,2022-11-01,VND,0.0,7570.0,0,1,2022,11,1,0,1,1,5,21967484.0,-7570.0,151
11,16894,2022-11-02,VND,0.0,28080000.0,0,1,2022,11,2,0,0,1,5,50047484.0,-28080000.0,150
12,16894,2022-11-05,VND,35000000.0,0.0,1,0,2022,11,5,0,5,1,5,15047484.0,35000000.0,147
13,16894,2022-11-07,VND,55000.0,0.0,1,0,2022,11,7,0,0,1,5,14992484.0,55000.0,145
14,16894,2022-11-12,VND,0.0,358140000.0,0,1,2022,11,12,0,0,2,5,373132484.0,-358140000.0,140
15,16894,2022-11-14,VND,103778000.0,0.0,2,0,2022,11,14,0,0,2,5,269354484.0,103778000.0,138
16,16894,2022-11-29,VND,0.0,25184002.0,0,2,2022,11,29,0,0,4,5,294538486.0,-25184002.0,123
17,16894,2022-12-01,VND,0.0,30974.0,0,1,2022,12,1,0,1,1,4,294569460.0,-30974.0,121
18,16894,2022-12-03,VND,300000000.0,6000000.0,1,1,2022,12,3,0,0,1,4,569460.0,294000000.0,119
19,16894,2022-12-23,VND,0.0,48362400.0,0,2,2022,12,23,0,0,4,4,48931860.0,-48362400.0,99
20,16894,2022-12-26,VND,26028000.0,0.0,1,0,2022,12,26,0,0,4,4,22903860.0,26028000.0,96
21,16894,2022-12-27,VND,19536000.0,0.0,1,0,2022,12,27,0,0,4,4,3367860.0,19536000.0,95
22,16894,2023-01-01,VND,0.0,4313.0,0,1,2023,1,1,0,1,1,3,3372173.0,-4313.0,90
23,16894,2023-02-01,VND,0.0,573.0,0,1,2023,2,1,0,1,1,2,3372746.0,-573.0,59
24,16894,2023-02-06,VND,0.0,7800000.0,0,1,2023,2,6,0,0,1,2,11172746.0,-7800000.0,54
25,16894,2023-02-09,VND,0.0,10300000.0,0,1,2023,2,9,0,0,2,2,21472746.0,-10300000.0,51
26,16894,2023-02-10,VND,0.0,16164000.0,0,2,2023,2,10,0,10,2,2,37636746.0,-16164000.0,50
27,16894,2023-02-14,VND,0.0,5934000.0,0,1,2023,2,14,0,0,2,2,43570746.0,-5934000.0,46
28,16894,2023-02-15,VND,110099000.0,67100000.0,1,1,2023,2,15,0,15,3,2,571746.0,42999000.0,45
29,16894,2023-02-20,VND,0.0,7090000.0,0,1,2023,2,20,0,20,3,2,7661746.0,-7090000.0,40
30,16894,2023-02-24,VND,0.0,6750000.0,0,1,2023,2,24,0,0,4,2,14411746.0,-6750000.0,36
31,16894,2023-03-01,VND,0.0,18812036.0,0,2,2023,3,1,0,1,1,1,33223782.0,-18812036.0,31
32,16894,2023-03-06,VND,37683250.0,6000000.0,1,1,2023,3,6,0,0,1,1,1540532.0,31683250.0,26
33,16894,2023-03-16,VND,0.0,34650000.0,0,1,2023,3,16,0,0,3,1,36190532.0,-34650000.0,16
34,16894,2023-03-31,VND,121050000.0,85553973.0,1,2,2023,3,31,1,99,4,1,694505.0,35496027.0,1

In [53]:
#burn_amt_day_level_lag_43_corporate
feat_5_data_sub = df_date_level_combined_data_c[(df_date_level_combined_data_c['age'] == 43)]
burn_amt_day_level_lag_43_corporate = feat_5_data_sub['burn'].sum()
burn_amt_day_level_lag_43_corporate

0.0

In [54]:
dict = {'bal_month_level_min_lag_month_1_week_3_overall': [bal_month_level_min_lag_month_1_week_3_overall],
'db_amt_month_level_median_lag_month_2_week_1_overall' : [db_amt_month_level_median_lag_month_2_week_1_overall],
'burn_amt_month_level_max_lag_month_2_week_2_overall' : [burn_amt_month_level_max_lag_month_2_week_2_overall],
'outflow_inflow_ratio_cnt_day_level_lag_27_overall' : [outflow_inflow_ratio_cnt_day_level_lag_27_overall],
'burn_amt_day_level_lag_43_corporate' : [burn_amt_day_level_lag_43_corporate]
}

feat_dict = pd.DataFrame(dict)
feat_dict

,bal_month_level_min_lag_month_1_week_3_overall,db_amt_month_level_median_lag_month_2_week_1_overall,burn_amt_month_level_max_lag_month_2_week_2_overall,outflow_inflow_ratio_cnt_day_level_lag_27_overall,burn_amt_day_level_lag_43_corporate
0,0.0,11000.0,64468695.0,2.0,0.0

In [55]:
# bad_not_in_ar = pd.DataFrame()
# bad_not_in_ar['bal_month_level_min_lag_month_1_week_3_overall'][0] = bal_month_level_min_lag_month_1_week_3_overall
# bad_not_in_ar['db_amt_month_level_median_lag_month_2_week_1_overall'] = db_amt_month_level_median_lag_month_2_week_1_overall
# bad_not_in_ar['burn_amt_month_level_max_lag_month_2_week_2_overall'] = burn_amt_month_level_max_lag_month_2_week_2_overall
# bad_not_in_ar['outflow_inflow_ratio_cnt_day_level_lag_27_overall'] = outflow_inflow_ratio_cnt_day_level_lag_27_overall
# bad_not_in_ar['burn_amt_day_level_lag_43_corporate'] = burn_amt_day_level_lag_43_corporate

In [56]:
feat_dataframe = pd.DataFrame()

feat_dataframe['bal_month_level_min_lag_month_1_week_3_overall_level_0'] = np.where(feat_dict['bal_month_level_min_lag_month_1_week_3_overall'] <= 1853374.333, 1, 0)

feat_dataframe['db_amt_month_level_median_lag_month_2_week_1_overall_level_0'] = np.where(feat_dict['db_amt_month_level_median_lag_month_2_week_1_overall'] <= 49925273.833, 1, 0)

feat_dataframe['burn_amt_month_level_max_lag_month_2_week_2_overall_level_0'] = np.where(feat_dict['burn_amt_month_level_max_lag_month_2_week_2_overall'] <= 33390291.0, 1, 0)

feat_dataframe['outflow_inflow_ratio_cnt_day_level_lag_27_overall_level_0'] = np.where(feat_dict['outflow_inflow_ratio_cnt_day_level_lag_27_overall'] <= 0.25, 1, 0)

feat_dataframe['burn_amt_day_level_lag_43_corporate_level_0'] = np.where(feat_dict['burn_amt_day_level_lag_43_corporate'] <= -35428044.008, 1, 0)

In [57]:
feat_dataframe

,bal_month_level_min_lag_month_1_week_3_overall_level_0,db_amt_month_level_median_lag_month_2_week_1_overall_level_0,burn_amt_month_level_max_lag_month_2_week_2_overall_level_0,outflow_inflow_ratio_cnt_day_level_lag_27_overall_level_0,burn_amt_day_level_lag_43_corporate_level_0
0,1,1,0,0,0

### Probability By Sagemaker

In [58]:
import boto3
import sagemaker
from sagemaker.sklearn.model import SKLearnModel

In [59]:
runtime = boto3.client("sagemaker-runtime")

In [60]:
endpoint_name = "VnTwoMobFifteenPlus"

In [61]:
from statsmodels.api import add_constant
input_predict = add_constant(feat_dataframe, has_constant='add')
input_predict

,const,bal_month_level_min_lag_month_1_week_3_overall_level_0,db_amt_month_level_median_lag_month_2_week_1_overall_level_0,burn_amt_month_level_max_lag_month_2_week_2_overall_level_0,outflow_inflow_ratio_cnt_day_level_lag_27_overall_level_0,burn_amt_day_level_lag_43_corporate_level_0
0,1.0,1,1,0,0,0

In [62]:
input_predict_json = input_predict.to_json(orient='records', lines=True).encode("utf-8")
input_predict_json

b'{"const":1.0,"bal_month_level_min_lag_month_1_week_3_overall_level_0":1,"db_amt_month_level_median_lag_month_2_week_1_overall_level_0":1,"burn_amt_month_level_max_lag_month_2_week_2_overall_level_0":0,"outflow_inflow_ratio_cnt_day_level_lag_27_overall_level_0":0,"burn_amt_day_level_lag_43_corporate_level_0":0}\n'

In [63]:
response = runtime.invoke_endpoint(
    EndpointName=endpoint_name,
    Body=input_predict_json,
    ContentType="application/json",
)

In [64]:
result_json = response["Body"].read()
result_json

b'{"output":[[0.908014317959834,0.09198568204016598]]}\n'

In [65]:
import json
from pandas import json_normalize

y_pred = json.loads(result_json)
sagemaker_predicted_probability = y_pred['output'][0][1]

In [66]:
sagemaker_predicted_probability

0.09198568204016598

### Probability By S3 Model

In [67]:
loaded_KGB_model = Jenfi.load_model_from_s3('vn_two_mob_fifteen_plus')

In [68]:
from statsmodels.api import add_constant
y_pred = loaded_KGB_model.predict_proba(add_constant(feat_dataframe, has_constant='add'))[:,1]
y_pred

array([0.09198568])

In [69]:
predicted_probability = y_pred[0]
predicted_probability

0.09198568204016598

In [70]:
band = ''
if (predicted_probability < 0.093):
    band = 'D. 0 - 0.093'
elif (predicted_probability < 0.146):
    band = 'C. 0.093 - 0.146'
elif (predicted_probability < 0.229):
    band = 'B. 0.146 - 0.229'
else:
    band = 'A. >= 0.229'
band

'D. 0 - 0.093'

In [71]:
additional_info = {
    "credit_application_id": credit_application_id,
    "input_decisioning_date": input_decisioning_date,
    "minimum_balance_lag_month_1_week_3_overall": bal_month_level_min_lag_month_1_week_3_overall,
    "median_debit_amount_lag_month_2_week_1_overall": db_amt_month_level_median_lag_month_2_week_1_overall,
    "maximum_burn_amount_lag_month_2_week_2_overall": burn_amt_month_level_max_lag_month_2_week_2_overall,
    "outflow_inflow_count_ratio_lag_day_27_overall": outflow_inflow_ratio_cnt_day_level_lag_27_overall,
    "burn_amount_lag_day_43_corporate" : burn_amt_day_level_lag_43_corporate
#     "level_minimum_balance_lag_month_1_week_3_overall": bal_month_level_min_lag_month_1_week_3_overall_level_0,
#     "level_median_debit_amount_lag_month_2_week_1_overall": db_amt_month_level_median_lag_month_2_week_1_overall_level_0,
#     "level_maximum_burn_amount_lag_month_2_week_2_overall": burn_amt_month_level_max_lag_month_2_week_2_overall_level_0,
#     "level_outflow_inflow_count_ratio_lag_day_27_overall": outflow_inflow_ratio_cnt_day_level_lag_27_overall_level_0,
#     "level_burn_amount_lag_day_43_corporate" : burn_amt_day_level_lag_43_corporate_level_0,
    
}

In [72]:
Result = {
    "two_mob_fifteen_plus_probability": predicted_probability,
    "sagemaker_two_mob_fifteen_plus_probability": sagemaker_predicted_probability,
    "model_band": band,
    "additional_info": additional_info
}

Result

{'two_mob_fifteen_plus_probability': 0.09198568204016598,
 'sagemaker_two_mob_fifteen_plus_probability': 0.09198568204016598,
 'model_band': 'D. 0 - 0.093',
 'additional_info': {'credit_application_id': 16894,
  'input_decisioning_date': '26/04/2023',
  'minimum_balance_lag_month_1_week_3_overall': 0.0,
  'median_debit_amount_lag_month_2_week_1_overall': 11000.0,
  'maximum_burn_amount_lag_month_2_week_2_overall': 64468695.0,
  'outflow_inflow_count_ratio_lag_day_27_overall': 2.0,
  'burn_amount_lag_day_43_corporate': 0.0}}

In [73]:
Jenfi.write_result(Result)

PosixPath('/tmp/output.json')